/*--fonts--*/
$gordita_regular: "Gordita-Regular", sans-serif;
$gordita_medium: "Gordita-Medium", sans-serif;
$gordita_bold: "Gordita-Bold", sans-serif;
$philosopher_regular: "Philosopher-Regular", sans-serif;
$material-icon: "Material Icons";
/*--fonts--*/
/*--colors--*/
$color_text: #222222;
$color_promo_bg: #222222;
$color_menu_non: #9d9d9d;
$color_line_dec: #e8e8e8;
$color-line-border: #EAEAEA;
$color-bg-footer: #FAFAFA;
$color-goods-des: #666;
$color_text_sub: #000;
$color_ivert: #fff;
$color_bullet: #bbb;
$color_lg: #ccc;
$color_accent: #cb0e17;
$color-border: #db585e;
$color-action-h: #e9500e;
$color-action: #cf470c;
$color-price-sale: #E90000;
/*--colors--*/
@media only screen and (max-width: 1380px) {
    // main{
    //     overflow: hidden;
    // }
   .container {
      padding: 0 20px;
   }
   .menu_items.active> {
      .sub_menu {
        padding-left: calc((100vw - 1280px) / 2);
        padding-right: calc((100vw - 1280px) / 2);
        .sub_menu_items {
          &:hover,
          &.active{
            .sub_sub_menu {
               padding: 41px calc((100vw - 1280px) / 2) 73px;
            }
          }
        }
      }
    }
   .prod-slider .prod-slider-container .button-next{
       right: 0px;
   }
   .prod-slider .prod-slider-container .button-prev{
       left: 0px;
   }
   .promotion .container .promo-wrapper .promo-items:first-child{
       margin-right: 10px;
   }
   .promotion .container .promo-wrapper .promo-items:last-child{
       margin-left: 10px;
   }
   .sec-top .footer-content .list-wrapper {
    padding-right: 15px;
   }
}
@media only screen and (max-width: 1300px) {
   .menu_items.active> {
      .sub_menu {
        padding-left: 20px;
        padding-right: 20px;
        .sub_menu_items {
          &:hover,
          &.active{
            .sub_sub_menu {
               padding: 41px 20px 73px;
            }
          }
        }
      }
    }
}
@media only screen and (max-width: 1199px) {
    .sec-top {          
       flex-direction: column;
       align-items: center;
    }
    .sec-top .logo-wrapper {
       margin-bottom: 40px;
    }
    .prod-slider .prod-slider-container .button-next{
       right: 0px;
   }
   .prod-slider .prod-slider-container .button-prev{
       left:  0px;
   }
   .seo-text .seo-text-wrapper .seo-text-items:first-child{
       padding-right: 10px;
   }
   .seo-text .seo-text-wrapper .seo-text-items:last-child{
       padding-left: 10px;
   }
   .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ{
       min-width: 150px;
       margin-right: 5px;
   }
   .promotion.hist .container .promo-text{
       max-width: calc(100vw / 2);
       margin: 0 25px;
   }

}
@media only screen and (max-width: 1124px){
  .catalog .container .filter-wrapper.open{
      height: 168px;
  }
}
@media only screen and (max-width: 1024px) {
    .prod-slider .prod-slider-container .button-next,
    .prod-slider .prod-slider-container .button-prev{
       display: none;
    }
    .sec-top .footer-content{
        flex-wrap: wrap;
    }
    .sec-buttom .wrapper-bottom{
        display: none;
    }
    .mob_block {
       display: block;
       .pay-var{
           padding: 16px 0;
           margin: 0 auto;
           justify-content: center;
       }
       
       .wrappre_sec-bottom{
           display: flex;
           align-items: center;
           justify-content: space-between;
       }
       .select-lang .lang-item .lang-items{
           padding-left: 0;
           &::before{
               display: none;
           }
       }
    }
    .sec-top .footer-content .list-item,
    .sec-top .footer-content .social-wrapper .social-item {
       min-width: 180px;
    }
    .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .img-wrapper{
        max-width: 200px;
        max-height: 225px;
        overflow: hidden;
    }
    .promotion.hist .container .promo-wrapper,
    .promotion.hist.right .container .promo-wrapper{
        flex-direction: column;
    }
    .prod-slider .prod-slider-title{
        text-align: left;
        padding-bottom: 8px;
    }
    .promotion.hist .container .promo-text{
        max-width: 642px;
        margin: 0;
    }
    .promotion.hist .container .promo-text .promo-text-header .det-page{
        text-align: left;
        padding: 24px 0;
    }
    .promotion.hist .container .promo-text .promo-text-content p{
        max-width: 100%;
        text-align: left;
    }
    
}
@media only screen and (max-width: 992px) {
    .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .img-wrapper{
        max-width: 175px;
        max-height: 200px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 900px) {
    main{
        padding-top: 91px;
    }
    .head_wrapper{
        align-items: center;
        padding: 11px 0 9px;
    }
    .sub_menu_wrapp,
    .nav_wrapper{
        display: none;
    }
    .log_wrapper{
        display: flex;
        align-items: center;
    }
    .burg-wrap {
       display: flex;
       align-items: center;
       padding-right: 10px;
    }
    .burg-wrap{
        display: block;
    }
    .burger-menu {
        position: relative;
        width: 20px;
        height: 12px;
        cursor: pointer;
        &::after,
        &::before {
          content: "";
          background-color: #000;
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          transition: all 0.3s ease-in-out;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        span {
          background-color: #000;
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          transition: all 0.3s ease-in-out;
        }
    }
    .banner .slider_container .slider-wrapp .slider_items .desc_banner{
       transform: translate(-50%, -50%);
    }
    .prod-card-container .prod-banner-wrapper .img-wrapper img{
        object-fit: contain;
    }
    footer{
        padding: 0;
        .footer-mobile-content{
           display: block;
        }
    }
    .footer-mobile-content {
        .accordion-wrapp {
            .accordion-item {
                position: relative;
                .accordion-item-lable {
                    border-bottom: 1px solid $color_line_dec;
                    label{
                      font-family: $gordita_medium; 
                      display: block;
                      padding: 16px 0;
                      position: relative;
                      cursor: pointer;
                      &::after,
                      &::before{
                          content: "";
                          background-color: $color_text;
                          position: absolute;
                          width: 12px;
                          height: 1px;
                          right: 0;
                          top: 50%;
                          transform: translate(0, -50%);
                          transition: all 0.3s ease-in-out;     
                      }
                      &::before {
                          transform: rotate(0deg);
                          transition: all 0.3s ease-in-out;   
                      }
                      &::after {
                        transform: rotate(90deg);
                        transition: all 0.3s ease-in-out;
                      }
                      
                   }
                   .accordion-input{
                         &:checked~.head::before{
                             transform: rotate(-180deg);
                             transition: all 0.3s ease-in-out;  
                         }
                         &:checked~.head::after{
                             transform: rotate(0deg);
                             transition: all 0.3s ease-in-out;
                         }
                         &:checked~.list-item{
                             display: block;
                             width: auto;
                             height: auto;
                             padding-bottom: 16px;
                             transform: scaleY(1);
                             transition: transform .3s ease;
                         }
                   }
                   .list-item{
                      position: relative;
                      width: 0;
                      height: 0;
                      overflow: hidden;
                      transform: scaleY(0);
                      transform-origin: top;
                      transition: transform .3s ease;
                   }   
                }
                
            }
        }
    }

    .sec-top {
        padding-bottom: 16px;
        display: block;
       .logo-wrapper {
         display: none;
       }
       .footer-content {
          flex-direction: column-reverse;
          .list-wrapper {
             display: none;
          }
          .social-wrapper {
               padding: 0;
               .titel-list {
                  display: none;
                }
              .social-item {
                 justify-content: center;
                 min-width: 100%;
                 padding: 0;
              }
          }    
          .call-us-wrapper {
              .titel-list {
                 display: none;
              }
              .list-item{
                  min-width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding-top: 16px;
                  .list-items{
                      margin-bottom: 16px;
                      &.open-time{
                      padding: 0;
                      display: block;
                     }
                  }       
              }
          }
       }   
    }
    .sec-top .footer-content .list-item .list-items{
        padding-top: 0;
        padding-bottom: 0;
    }
    .sec-top .footer-content .social-wrapper .social-item .social-items{
        margin-right: 26px;
    }
    .basket-preview-container{
        right: 50%;
        top: 78px;
        transform: translate(50%, 0);
        width: 343px;
    }
    .features_site_wrapper .features_site{
        position: unset;
    }
    .banner.hist .container .desc_banner{
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        padding: 17px 0 16px;
        .logo-wrapper {
            border-color: $color_text;
            padding: 5px 7px 5px;
            svg {
                fill: $color_text;
                width: 58px;
                height: 19px;
            }
        }
        .text_content {
            padding: 0 0 0 7px;
            p {
                font-size: 22px;
                line-height: 22px;
                color: $color_text;
                padding-bottom: 0;
            }
        } 
    }
    section.info .container .info-frame{
        flex-direction: column;
    }
    section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title{
        font-size: 13px;
        line-height: 23px;
    }
    .mob_block .wrappre_sec-bottom .copy-block p,
    .mob_block .wrappre_sec-bottom .copy-block p span,
    .mob_block .wrappre_sec-bottom .copy-block p a{
        font-size: 12px;
        line-height: 20px;
    }
    .mob_block{
        padding-bottom: 16px;
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px 16px;
    }
    .catalog .container .filter-wrapper .descktop-filter-container{
        display: none;
    }
    .catalog .container .filter-wrapper{
        .mobile-filter-container{
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            .sort-btn, .filter-btn{
                .filter-header{
                   display: block;
                   border: 1px solid $color_line_dec;
                   padding: 7.5px 30px 7.5px 16px;
                   border-radius: 2px;
                   width: 170px;
                   position: relative;
                   cursor: pointer;
                   transition: .3s ease-in-out;
                   z-index: 4;
                   &.no-active{
                     border-color: $color-goods-des;
                     opacity: 0.5;
                     cursor: not-allowed;
                   }
                   svg{
                      width: 16px;
                      height: 9px;
                      fill: none;
                      stroke: $color_text;
                      position: absolute;
                      top: 50%;
                      right: 0;
                      margin-top: -4px;
                      margin-right: 16px;
                      transition: all 0.3s ease-in-out;
                   }
                  &:hover{
                     border-color: $color-goods-des;
                     transition: .3s ease-in-out;
                   }
                }
                .modal-fiter{
                    opacity: 0;
                    visibility: hidden;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 999999;
                    width: 100vw;
                    height: 100%;
                    background-color: $color_ivert;
                    &.active{
                       opacity: 1;
                       visibility: visible;
                    }
                    .title-filter{
                        padding: 16px 0;
                        position: relative;
                        p{
                          font-family: $gordita_bold;
                          text-transform: uppercase;
                          text-align: center;
                        }
                        svg{
                           position: absolute;
                           cursor: pointer;
                           top: 50%;
                           right: 0;
                           transform: translate(0, -50%);
                           margin-right: 16px;
                           width: 24px;
                           height: 24px;
                           stroke: $color_text; 
                           &:hover{
                             stroke: $color-action-h;
                             transition: 0.3s ease-in-out;
                           }
                        }
                    }
                    .filter-item{
                        .filter-items{
                            padding: 12px 0 12px 16px;
                            border-bottom: 1px solid $color_line_dec;
                            &:first-child{
                                border-top: 1px solid $color_line_dec;
                            }
                            a{
                              font-family: $gordita_medium;
                            }   
                        }
                    }
                }
            }
            .filter-btn{
               .modal-fiter{
                   overflow-x: scroll;
               }
              .mob-filter-item{
                .mob-filter-items{
                     padding: 12px 16px 12px 16px;
                     border-bottom: 1px solid $color_line_dec;
                     max-height: 46px;
                     overflow: hidden;
                     &:first-child{
                         border-top: 1px solid $color_line_dec;
                     }
                     &.active{
                       max-height: 100%;
                       overflow: visible; 
                     }
                   .mob-filter-header{
                       position: relative;
                       display: flex;
                       flex-wrap: wrap;
                       padding-right: 30px;
                       p{
                         font-family: $gordita_medium;
                       }
                        &::after,
                        &::before{
                            content: "";
                            background-color: $color_text;
                            position: absolute;
                            width: 12px;
                            height: 1px;
                            right: 0;
                            margin-right: 16px;
                            top: 50%;
                            transition: all 0.3s ease-in-out;     
                        }
                        &::before {
                            transform: translate(0, -50%) rotate(0deg);
                            transition: all 0.3s ease-in-out;   
                        }
                        &::after {
                          transform: translate(0, -50%) rotate(90deg);
                          transition: all 0.3s ease-in-out;
                        }
                        &.active::before{
                            transform: rotate(180deg);
                            transition: all 0.3s ease-in-out; 
                        }
                        &.active::after{
                            transform: rotate(0deg);
                            transition: all 0.3s ease-in-out;
                        }
                   }
                   .content-filter{
                       padding-top: 25px;
                       &.size{
                           .mob-check-item{
                               max-height: 200px;
                           }
                       }
                   }
                   .extra-controls{
                     display: flex;
                     justify-content: space-between;
                     padding-bottom: 8px;
                     .input-range-wrapper{
                       max-width: 102px;
                       overflow: hidden;
                       position: relative;
                       input{
                         color: $color-goods-des;
                       }
                       &::before{
                         content: '₽';
                         position: absolute;
                         font-family:$gordita_regular;
                         color: $color-goods-des;
                         font-size: 14px;
                         line-height: 24px;
                         top: 50%;
                         right: 0;
                         transform: translate(0, -50%);
                       }
                     }
                   }
                   .range-slider{
                     max-width: 100%;
                     .irs--round{
                         height: 5px;
                         padding-bottom: 28px;
                       .irs{
                         .irs-min, .irs-max, .irs-from, .irs-to{
                           display: none;
                         }  
                       }
                       .irs-handle{
                         top: -5px;
                         width: 12px;
                         height: 12px;
                         border: unset;
                         background-color: $color-action-h;
                         border-radius: 50%;
                         box-shadow: unset;
                       }   
                       .irs-bar{
                         height: 3px;
                         background-color: $color-action-h;
                         top: 0px;
                       }
                       .irs-line{
                         top: 0px;
                       }
                     }
                   }
                }
              }   
            }
        }
    }
    .catalog .container .catalog-wrapper{
        margin-top: 0;
    }
    .mob-modal-btn {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        position: fixed;
        background-color: $color_ivert;
        width: 100%;
        bottom: 0;
        .modal-reset {
            font-family: $gordita_medium;
            font-size: 13px;
            line-height: 23px;
            color: $color_text;
            border: 1px solid $color_text;
            border-radius: 2px;
            padding: 10px 12px;
            max-width: 163px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.no-active {
                 opacity: 0.5;
                 cursor: not-allowed;
                 &:hover{
                     border-color: $color_text;
                     color: $color_text;
                     span{
                       color: $color_text;  
                     }
                 }
            }
            &:hover{
                border-color: $color-action-h;
                color: $color-action-h;
                span{
                   color: $color-action-h; 
                }
            }
            span{
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
            }
        }
        .modal-submit {
            border: none;
            background-color: $color-action-h;
            color: $color_ivert;
            border-radius: 2px;
            max-width: 163px;
            &.no-active {
                opacity: 0.5;
                cursor: not-allowed;
                &:hover {
                    background-color: $color-action-h;
                }
            }
            &:hover{
                background-color: $color-action;
            }
            
        }
       
    }
    .mob-check-items{
        padding-bottom: 16px;
    }
    .content-filter.color{
        .mob-check-item-color{
             display: grid;
             grid-template-columns: repeat(4, 1fr);
             grid-template-rows: repeat(auto, 1fr);
             grid-gap: 24px 16px;
        }
        .mob-check-items{
            max-width: 69px;
            max-height: 60px;
            label[data-color] {
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                padding-left: 0;
                &::after {
                    font-family: $material-icon;
                    content: '\e5ca';               
                    font-size: 24px;
                    top: 37%;
                    left: 50%;
                }
                .color-holder {
                    width: 44px;
                    height: 44px;
                    top:unset;
                    left: unset;
                    position: relative;
                    transform: unset;
                    border-radius: 2px;
                    margin: 0 auto;
                    display: block;
                }
                .color-name{
                    font-size: 9px;
                    line-height: 16px;
                    text-align: center;
                }
            }
        }
    }


    

}
@media only screen and (max-width: 767px) {
    main section button{
         width: 100%;
         padding: 13px 0;
      
    }  
    .container {
      padding: 0 16px;
    }
    .log_wrapper .logo{
        max-width: 80px;
        max-height: 27px;
        margin-right: 5px;
        svg{
            width: 80px;
            height: 27px;
        }
    }
    .promotion{
        padding-bottom: 0;
    }
    .promo_line {
        .promo_text{
            display: none;
        }
        >svg{
            display: none;
        }
        .promo_mob{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                stroke: #fff;
                width: 24px;
                height: 24px;
                position: absolute;
                right: 4px;
            }
        }
    }
    .features_site_wrapper .features_site .features_items{
        &:hover{
            border-bottom: transparent;
        }
    }
    .features_site_wrapper .features_site .features_items .icon_title{
        font-size: 7px;
        line-height: 14px;
    }
    .banner {
       padding-bottom: 44px;
       .slider_container{
         .slider-wrapp {
           .slider_items {
               .img-wrapper{
                  height: 349px;
                  img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      object-position: 20%;
                  }
               }
             .desc_banner {
               .text_contetn p {
                   text-align: center;
                   font-size: 32px;

               }
               button {
                   padding: 4px 31px 3px;
                   font-size: 10px;
                   line-height: 16px;
               }
             }
           } 
         }  
      }
    }
    .features_site_wrapper .features_site .features_items{
        margin-right: 12px;
    }
    .banner{
        .container{
            padding: 0;
        }
    } 
    .prod-slider .swiper-container{
        overflow: visible;
    }
    section{
        overflow: hidden;
    }
    .promotion .container .promo-wrapper{
        flex-direction: column;
    }
    .promotion .container .promo-wrapper .promo-items:first-child{
       margin-right: 0;
    }
    .promotion .container .promo-wrapper .promo-items:last-child{
        margin-left: 0;
    }
    .promotion .container .promo-wrapper .promo-items {
        .promo-content{
           position: relative;
           left: unset;
           top: unset;
           transform: unset;
           padding-bottom: 35px;
           h1{
               color: $color_text;
               margin: 0 auto;
               line-height: 30px;
               padding-bottom: 16px;
           }
           a{
               color: $color_text;
           }
        }
        .promo-img{
            margin-bottom: 27px;
            max-width: 100%;
            max-height: 100%;
        }

    }
    .promo-banner .banner-wrapper .content-wrapper h2{
        white-space: normal;

    }
    .reason-buy {
        padding-bottom: 32px;
        .reason-buy-container {   
            text-align: center; 
            .reason-buy-title {
                h2{
                    font-size: 13px;
                    line-height: 23px;
                }
              }                
             .reason-buy-wrapper {
                display: inline-block;
               .reason-buy-items {
                  display: flex;
                  align-items: center;
                  margin-bottom: 25px;
                  &:last-child{
                      margin-bottom: 0;
                  }
                  &:last-child .img-wrapper{
                     padding-left: 9px;
                  }
                  
                 .img-wrapper {
                   max-width: 36px;
                   margin-right: 20px;
                   height: unset;
                   .free_shipping{
                       width: 36px;
                       height: 26px;
                   }
                   .high_quality{
                       width: 36px;
                       height: 36px;
                   }
                   ._day{
                       width: 34px;
                       height: 36px;
                   }
                   .return{
                       width: 27px;
                       height: 36px;
                   }

                 }
                 .content {
                     p {
                       text-align: left;
                       &.small_text{
                         line-height: 16px; 
                   }
                 } 
               }
            }
          }
       }
    }
    .prod-slider.title{
        padding-bottom: 0;
    }
    .seo-text{
        padding-bottom: 24px;
    }
    .seo-text .seo-text-wrapper .seo-text-items:first-child{
       padding-right: 0px;
       padding-bottom: 24px;
    }
    .seo-text .seo-text-wrapper .seo-text-items:last-child{
       padding-left: 0px;
    }
    .seo-text .seo-text-wrapper{
        flex-direction: column;
    }
    .seo-text .seo-text-wrapper .seo-text-items {
        max-width: 100%;
    } 
    .seo-text .seo-text-wrapper{
        padding-top: 24px;
    }
    .seo-text .seo-text-wrapper .seo-text-items .title h3{
        font-size: 13px;
        line-height: 23px;
    }
    .prod-card-container .discrption-goods p{
        font-size: 12px;
        line-height: 20px;
    }
    .prod-card-container.sale .price-wrap .price:first-child{
        padding-right: 8px;
    }
    .prod-card-container .prod-banner-wrapper{
        padding-bottom: 8px;
    }
    .promo-banner .banner-wrapper .content-wrapper h2{
        min-width: 400px;
    }
    .promo-banner.custom{
        padding-top: 0;
    }
    .promo-banner{
        padding-bottom: 16px;
    }
    .prod-slider.custom{
        padding-bottom: 24px;
    }
    .reason-buy .reason-buy-container .reason-buy-title{
        padding: 24px 0;
    }
    .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content{
        padding-top: 0;
    }
    .prod-slider .prod-slider-title h2{
        line-height: 23px;
        font-size: 13px;
    }
    .promotion.hist .container .promo-wrapper .promo-items .promo-img{
        margin-bottom: 0;
    }
    .promotion .container .promo-wrapper .promo-items .promo-img img{
        object-fit: cover;
    }
    .promotion.hist .container .promo-text .promo-t-wrapp{
        position: relative;
        top: -13px;
        left: 12px;
        background-color: #fff;
        padding: 0 24px;
        margin-bottom: -13px;
    }
    .banner.catalog{
        padding-bottom: 8px;
    }
    .banner.catalog .container .banner-wrapper .desc_banner .text_contetn .slogan{
        padding-bottom: 4px;
    }
    .reason-buy.caralog{
        padding-top: 0;
    }
    .prod-slider.title.promo{
        padding-bottom: 0;
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container .prod-banner-wrapper .promo-wrapp{
        padding: 4px 4px 0;
        .favorit{
            margin-top: 6px;
            margin-right: 6px;
        }
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .banner-wrapper .desc_banner .text_contetn{
        max-width: 160px;
       
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .banner-wrapper .desc_banner button{
            max-width: 136px;
            font-size: 10px;
            line-height: 16px;
            padding: 8px 0;
    }
    .catalog{
       .container{
         .nav-wrapper{
             .nav-header{
               display: flex;
               justify-content: flex-start;
               align-items: center;
               h1{
                   padding-right: 4px;
               }
               span{
                   display: block;
               }
            }
        }
        }
    }
    .catalog .container .catalog-wrapper .header-find-goods,
    .catalog .container .cat-pagination-wrapper .goods-per-page-wrapper{
        display: none;
    }
    .catalog .container .goods-gallery-block{
        padding-bottom: 37px;
    }
    .catalog .container .cat-pagination-wrapper{
        justify-content: center;
        &.top{
            display: none;
        }
    }
    .catalog .container .cat-pagination-wrapper .pagination-container{
        justify-content: center;
        align-items: center;
        &.top{
            display: none;
        }
        .pagin-previous,
        .pagin-next{
            p{
                display: none;
            }
        }
        .pagin-numb{
            .mob-page{
                display: block;
                padding-right:36px;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .promo-banner .banner-wrapper .img-wrapper{
         max-width: 100%;
         max-height: 343px;
         margin: 0 auto;
    }
    .promotion .container .promo-wrapper .promo-items .promo-img{
         max-height: 100%;
    }
    .promo-banner .banner-wrapper .content-wrapper h2{
        white-space: normal;
        min-width: 300px;
        padding: 0;
    }
    .promo-banner .banner-wrapper .content-wrapper{
        bottom: 32px;
        top: unset;
        transform: translate(-50%, 0);
    }
    .promo-banner .banner-wrapper .content-wrapper h2{
        padding-bottom: 93px;
    }
    .promo-banner.custom .banner-wrapper .content-wrapper h2{
        padding-bottom: 71px;
    }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper{
        justify-content: space-between;
    }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container{
        margin: 0;
        max-width: unset;
        &:first-child{
            margin-right: 2px;
        }
        &:last-child{
            margin-left: 2px;
        }
    }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper .img-wrapper{
        max-width: unset;
        max-height: unset;
    }
    .promotion.hist .container .promo-text .promo-text-goods .btn-promo-goods{
        width: 100%;
    }
    section.info .container .info-frame .info-content-wrapper > .title{
        font-size: 13px;
        line-height: 23px;
    }
    section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper{
        flex-direction: column;
        padding: 0;
        .delivery-items{
            padding-bottom: 24px;
        }
    }
    .banner.hist .container .desc_banner{
        padding: 11px 0 16px;
    }
    .banner.hist .container .desc_banner .logo-wrapper{
        padding: 1px 7px 1px;
    }
    .banner.hist .container .desc_banner .text_content{
       margin-top: -5px;
    }
    .banner.hist .container .img-wrapper{
        height: 173px;
        img{
            height: 100%;
        }
    }
    .banner.hist{
        padding-bottom: 17px;
    }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper .promo-wrapp{
        padding: 11px 10px 0;
    }
    .promotion.hist{
        padding-bottom: 24px;
    }
    .prod-slider.hist.title{
        padding: 16px 0 0;
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px 4px;
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container .descr-wrapper{
        margin-bottom: 0;
        max-height: 64px;
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .banner-wrapper .desc_banner .text_contetn{
        max-width: 105px;
       
    }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container:hover .prod-banner-wrapper{
        margin-bottom: 72px;
    }
    .catalog .container .nav-wrapper .sub-nav .sub-nav-item{
        overflow-x: scroll;
    }
        
}
@media only screen and (max-width: 375px){
    .promotion.hist .container .promo-wrapper .promo-items .promo-img{
         height: 374px;
         width: 100%;
    }
    .promotion .container .promo-wrapper .promo-items .promo-img{
         height: 343px;
    }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container{
        margin: 0;
        max-width: 169px;
    }
}
@media only screen and (max-width: 374px) {
    .menu_mobile .mobile-menu-wrapper .menu_item > .menu_items > a{
        padding: 0 12px;
    }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container{
        max-width: 150px;
    }
    section.info .container .info-frame .info-content-wrapper > .title{
        font-size: 12px;
        line-height: 23px;
    }
    .basket-preview-container{
        width: 300px;
    }
    .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .filter-header,
    .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .filter-header{
        width: 140px;
    }
}