/*--fonts--*/
$gordita_regular: "Gordita-Regular", sans-serif;
$gordita_medium: "Gordita-Medium", sans-serif;
$gordita_bold: "Gordita-Bold", sans-serif;
$philosopher_regular: "Philosopher-Regular", sans-serif;
// $material-icon: "Material Icons";
/*--fonts--*/
/*--colors--*/
$color_text: #222222;
$color_promo_bg: #222222;
$color_menu_non: #9d9d9d;
$color_line_dec: #e8e8e8;
$color-line-border: #EAEAEA;
$color-bg-footer: #FAFAFA;
$color-goods-des: #666;
$color_text_sub: #000;
$color_ivert: #fff;
$color_bullet: #bbb;
$color_lg: #ccc;
$color_accent: #cb0e17;
$color-border: #db585e;
$color-action-h: #e9500e;
$color-action: #cf470c;
$color-price-sale: #E90000;
/*--colors--*/
/*--var--*/
$parg_size: 13px;
$parg_size_lh: 23px;
$k: 0.7;
$maxWidth: 1920;

/*--var--*/
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * $k;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
@mixin adaptiv-line-height($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * $k;
  @media (max-width: 767px) {
    line-height: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
// remove this style before production ----->>>>
.not_prod {
  .log_wrapper {
    height: 80px;
    display: block;
    .logo {
      margin: 30px auto;
      max-width: 200px;
      a{
        display: block;
        img{
          width: 100%;
          height: 100%;
          padding: 5px;
        }
      } 
    }
  }
  .list-all-page {
    text-align: center;
    margin-top: 50px;
    .items-page {
      margin: 20px 0;
      a{
        font-family: $philosopher_regular;
        font-size: 50px;
        transition: 0.6s ease;
        &:hover{
          color: $color-action-h;
          transition: 0.6s ease;
        }
        
      }
    }
  }
}

// <<<<<<------remove this style before production
a,
p,
button,
input,
span,
textarea, h1, h2, h3, h4,
button,
li,
label {
  font-family: $gordita_regular;
  color: $color_text;
  font-size: $parg_size;
  line-height: $parg_size_lh;
  white-space: normal;
}

.line-decor {
  height: 1px;
  background-color: $color_line_dec;
  position: relative;
  z-index: 6;
  pointer-events: none;
}
body.modal {
    overflow: hidden;
}
body{
  overflow-x: hidden;
}
h1, h2{
  font-size: 16px;
  line-height: 26px;
  font-family: $gordita_medium;
}
h1.det-page{
  font-size: 20px;
  line-height: 1.5;
  font-family: $gordita_medium;
}
h2.det-page{
  font-size: 40px;
  line-height: 1;
  font-family: $philosopher_regular;
}
h3{
  font-family: $gordita_medium;
  font-size: 14px;
  line-height: 24px;
}
h4{
  font-family: $gordita_medium;
}
.visually-hidden{
    clip: rect(0 0 0 0);
    z-index: -1;
    position: fixed;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.promo_line {
  background-color: $color_promo_bg;
  max-height: 30px;
  .promo_text, .promo_text_mob,
  .promo_text a {
    color: $color_ivert;
    text-align: center;
    font-family: $gordita_medium;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0;
  }
  .promo_text a{
    text-decoration: underline;
    &:hover {
      color: $color-action-h;
    }

  }
  
  .promo_mob{
    display: none;
  }
}
main section button{
  font-family: $gordita_medium;
  background-color: $color_ivert;
  border: 1px solid $color_promo_bg;
  border-radius: 2px;
  padding: 14px 32px;
  transition: 0.3s ease;
  &:hover{
    border: 1px solid $color-action-h;
    color: $color-action-h;
    transition: 0.3s ease;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.head_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 21px 0 1px;
  max-height: 141px;
}
.burg-wrap {
  display: none;
} 
.search-header-line {
  position: absolute;
  width: 100%;
  z-index: 2;
  max-height: 48px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &.active{
    transition: all 0.3s ease-in-out;
    overflow: visible;
    opacity: 1;
  }
  .search-wrapper{
    position: relative;   
    svg {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      fill: none;
      stroke: $color_text;
      width: 24px;
      height: 24px;
      cursor: pointer;
      &:hover{
          stroke: $color-action-h;
        }
      &.close{
        right: 15px;
        
      }
      &.search{
        left: 1.4%;
        
      }
    }
    .search-line {
      width: 100%;
      border: none;
      background-color: $color-bg-footer;
      padding: 14px 48px;
      box-sizing: border-box;
      &:focus svg{
        stroke: $color-action-h;
      }
      
  } 
}
}
.basket-preview-container {
  position: absolute;
  right: -1px;
  top: 42px;
  z-index: 10;
  background-color: $color_ivert;
  border: 1px solid $color_line_dec;
  border-radius: 2px;
  padding: 19px 24px;
  width: 362px;
  opacity: 0;
  visibility: hidden;
  &.active{
    opacity: 1;
    visibility: visible;
  }
  .goods-wrapper {
    .goods-item {
      .goods-items {
        border-bottom: 1px solid $color_line_dec;
        display: flex;
        padding: 0 0 18px;
        margin: 0 0 16px;
        .img-wrapper {
          height: 90px;
          width: 60px;
          padding: 5px 0 0;
        }
        .goods-desc {
          padding-left: 8px;
          width: 100%;
          position: relative;
          svg{
            position: absolute;
            top: 2px;
            right: -5px;
            fill: none;
            stroke: $color_text;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          .titel {
            color: $color-goods-des;
            line-height: 20px;
            font-size: 12px;
            padding-bottom: 3px;
          }
          .details {
            display: flex;
            justify-content: space-between;
            line-height: 20px;
            div{
              line-height: 20px;
              font-size: 12px;
            }
            span{
              line-height: 20px;
              font-size: 12px;
            }
          }
          .price-per {
              display: flex;
              justify-content: space-between;
              line-height: 20px;
              .quatity {
                font-size: 12px;
              }
              .price span {
                font-family: $gordita_medium;
                line-height: 20px;
                font-size: 12px;
              }
          }
        }
      }
    }
  }
  .goods-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 16px; 
    span{
      font-family: $gordita_medium;
    }
  }
  .btn-basket-pay {
    width: 100%;
    background-color: $color-action;
    font-family: $gordita_medium;
    color: $color_ivert;
    padding: 13px 0;
    border-radius: 2px;
    &:hover{
      background-color: $color-action-h;
    }
  }
}
.menu_mobile{
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: 0.3s ease;
  display: none;
  &.active{
    width: 100vw;
    height: 100%;
    background-color: $color_ivert;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 10;
    transition: 0.3s ease;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .mobile-header-container{
    position: relative;
    padding: 14px 0;
    .logo-wrapper{
      margin: 0 auto;
      max-width: 80px;
      max-height: 27px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    svg{
      position: absolute;
      top: 50%;
      right: 0;
      margin-right: 16px;
      transform: translate(0, -50%);
      stroke: $color_text;
      width: 24px;
      height: 24px;
      fill: none;
      cursor: pointer;
      &:hover{
        stroke: $color-action-h;
        fill: $color-action-h;
        transition: 0.3s ease;
      }
    }

  }
  .search-wrapper {
    position: relative;
    .form {
      &:hover .search{
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
      }
      .search{ 
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(0, -50%);
        stroke: $color_text;
        width: 24px;
        height: 24px;
        fill: none;
      }
      .search-line {
        border: none;
        padding: 15px 24px;
        background-color: $color-line-border;
        width: 100%;
        text-align: center;
        &:focus{
          text-align: left;
        }
        &:focus ~ .search{
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .bord-mob-container{
    max-width: 600px;
    margin: 0 auto;
  }
  .mobile-menu-wrapper{
    .menu_item{
      display: flex;
      justify-content: space-between;
      padding-bottom: 64px;
      position: relative;
      >.menu_items{
        padding: 10px 0;
        >a{
          font-family: $gordita_bold;
          text-transform: uppercase;
          padding: 0 16px;       
        }
      }
      &>:hover{
        border-bottom: 2px solid $color_text ;
      }
      .mob_sub_menu{
        display: none;
      }
      &>.active{
        border-bottom: 2px solid $color_text ;
        .mob_sub_menu{
           position: absolute;
           display: block;
           width: 100%;
           left: 0;
           top: 23px;
           .mob_sub_menu_items{
             position: relative;
             padding: 12px 0;
             border-bottom: 1px solid $color_line_dec;
             &:first-child{
               border-top: 1px solid $color_line_dec;
             }
             >a{
               text-transform: uppercase;
               font-family: $gordita_medium;
               padding: 0 16px;
             }
             svg{
                position: absolute;
                top: 16px;
                right: 0;
                margin-right: 16px;
                stroke: $color_text;
                width: 16px;
                height: 16px;
                fill: none;
                transition: 0.3s ease;
                &:hover{
                  stroke: $color-action-h;
                  fill: $color-action-h;
                  transition: 0.3s ease;
                }
             }
             .mob_sub_sub_menu{
                height: 0;
                overflow: hidden;
                opacity: 0;
                transition: 0.3s ease;
               
             }
             &.active{
               svg{
                 transform: rotate(90deg);
                 transition: 0.3s ease;
               }
               .mob_sub_sub_menu{
                 padding: 16px 16px 0;
                 height: auto;
                 overflow: visible;
                 opacity: 1;
                 transition: 0.3s ease;
                 .cat-wrapper{
                   .categ{
                     padding-bottom: 10px;
                     .titel{
                        font-family: $gordita_medium;
                        line-height: 40px;
                     }
                     p a{
                       font-family: $gordita_medium;
                     }
                     a{
                       line-height: 40px;
                       &:hover{
                         color: $color-action-h;
                       }
                     }
                   }
                 }
                 .promo-brand-wrapper{
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   .brand-container{
                     padding-bottom: 16px;
                     p {
                       text-align: center;
                       a {
                        font-family: $gordita_medium;
                        text-decoration: underline;
                        &:hover{
                          color:$color-action-h
                        }
                      }
                     }
                   }
                 }
               } 
             }
           }
           .personal-area{
             padding: 16px 0;
             margin: 0 16px 16px;
             border-bottom: 1px solid $color_line_dec;
             p{
               padding: 12px 0;
             }
           }
           .social-item {
              display: flex;
              min-width: 120px;
              padding-top: 7px;
              justify-content: center;
              .social-items{
                margin-right: 24px;
                &:last-child a svg,
                &:first-child a svg{
                  fill: $color_text;
                }
                a svg{
                  width: 24px;
                  height: 24px;
                  fill: none;
                  stroke: $color_text;
                  transition: 0.3s ease;
                  &:hover{
                    fill: $color-action-h;
                    stroke: $color-action-h;
                    transition: 0.3s ease;
                  }
                }
                &:last-child{
                  margin-right: 0;
                }
              }
           }
        }
      }
    }
    
  }
 
}
.menu_wrapp {
  .nav_wrapper {
    .menu {
      padding-bottom: 64px;
      .menu_item> {
        .menu_items {
          display: inline-block;
          margin-right: 50px;
          &:last-child {
            margin-right: 0;
          }
          >a {
            color: $color_menu_non;
            font-family: $gordita_medium;
            text-transform: uppercase;
            padding-bottom: 7px;
            transition: color 0.3s ease;
          }
          &.active>a,
          &:hover>a {
            color: $color_text;
            border-bottom: 2px solid $color_text;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}
.menu_items>{
   .sub_menu{
     display: none;
   }
}
.menu_items.active> {
  padding-bottom: 21px;
  
  .sub_menu {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: calc((100vw - 1320px) / 2);
    padding-right: calc((100vw - 1320px) / 2);
    .sub_menu_items {
      display: inline-block;
      margin-right: 32px;
      border-bottom: 2px solid transparent;
      z-index: 6;
      &:last-child> {
        margin-right: 0;
        a {
          color: $color-action;
        }
      }
      >a {
        font-family: $gordita_medium;
        padding-bottom: 1px;
      }
      &:hover,
      &.active{
        border-bottom: 2px solid $color_text;
        position: static;
        .sub_sub_menu {
           display: flex;
           justify-content: space-between;
           background-color: $color_ivert;
           position: absolute;
           width:100%;
           top: 46px;
           left: 0;
           right: 0;
           padding: 41px calc((100vw - 1320px) / 2) 73px;
           z-index: 5;
           border-bottom: 1px solid $color_line_dec;
           .cat-wrapper {
             display: flex;
             .categ {
               min-width: 196px;
               margin-right: 16px;
               .titel {
                 font-family: $gordita_medium;
                 padding-bottom: 5px;
               }
               p a{
                 line-height: 33px;
                 font-family: $gordita_medium;
               }
               .categ_item {
                 .categ_items {
                   line-height: 33px;
                   a{
                     &:hover{
                       color: $color-action-h;
                     }
                   }
                 }
               }
             }
           }
           .promo-brand-wrapper {
               display: flex;
               justify-content: space-between;
               padding-right: 20px;
               padding-top: 5px;
               .brand-container {
                 .img-wrapper {
                   margin: 0 8px;
                   max-width: 230px;
                   max-height: 255px;
                 }
                 .brand {
                   text-align: center;
                   padding-top: 16px;
                   a{
                     font-size: 12px;
                     line-height: 20px;
                     text-decoration: underline;
                     font-family: $gordita_medium; 
                     &:hover{
                       color: $color-action-h;
                     }
                   }
                   
                 }
               }
            }
        }
      }
      .sub_sub_menu{
        display: none;
      }
      
    }
  }
}
.log_wrapper {
  .logo {
    max-width: 90px;
    max-height: 30px;
    margin-right: 50px;
    img {
      width: 100%;
      height: 100%;
      
    }
  }
}

.features_site_wrapper {
  .features_site {
    position: relative;
    .features_items {
      display: inline-block;
      margin-right: 32px;
      border-bottom: 2px solid transparent;
      transition: 0.3s ease;
      &:hover{
        a{
          color: $color-action-h;
          transition: 0.3s ease;
        }
        .icon svg{
          stroke: $color-action-h;
          transition: 0.3s ease;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding-bottom: 5px;
      }
      &:hover,
      &.active {
        border-bottom: 2px solid $color_text;
        transition: 0.3s ease;
      }
      .icon{
        max-width: 24px;
        max-height: 24px;
      }
      .icon svg {
        width: 24px;
        height: 24px;
        stroke: $color_text;
        fill: none;
      }
      .icon_title {
        font-size: 9px;
        line-height: 16px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.banner {
  padding-bottom: 37px;
  .slider_container{
    .slider-wrapp {
      .slider_items {
        position: relative;
        z-index: 1;
        .desc_banner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(52%, -50%);
          z-index: 2;
          .text_contetn p {
            color: $color_ivert;
            // @include adaptiv-font(54, 32);
            font-size: 54px;
            line-height: 60px;
            margin-bottom: 16px;
            font-family: $gordita_bold;
  
          }
        }
      } 
    }
    .swiper-pagination.slider_pagination{
        position: unset;
        margin-top: 5px;
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background-color: $color_promo_bg;
            border: 1px solid $color_bullet;
        }
        .swiper-pagination-bullet{
          background-color: unset;
          border: 1px solid $color_bullet;
        }
    }
 }
}
.promotion {
  padding-bottom: 32px;
   .container {
     .promo-wrapper {
       display: flex;
       justify-content: space-between;
       align-items: center;

       .promo-items {          
         position: relative;
         .promo-img {   
           position: relative;
           max-width: 636px;
           max-height: 637px;
           background: rgba(0, 0, 0, 0.2);
           img{
             position: relative;
             width: 100%;
             height: 100%;
             object-fit: contain;
             z-index: -1;
           }       
         }
         .promo-content {
           position: absolute;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
           text-align: center;
           h1{
             text-transform: uppercase;
             color: $color_ivert;
             font-size: 20px;
             line-height: 32px;
             max-width: 180px;
             padding-bottom: 22px;
           }
           a{
             text-decoration: underline;
             transition: 0.3s ease;
             &:hover{
               color: $color-action;
               transition: 0.3s ease;
             }
             font-size: 16px;
             line-height: 24px;
             color: $color_ivert;
           }
         }  
       }
     }
   }
}

.prod-slider {
  padding-bottom: 39px;
  &.custom{
    padding-bottom: 58px;
  }
  &.title{
    padding-bottom: 17px;
  }
  .container{
    position: relative;
  }
  .prod-slider-title{
    padding-bottom: 32px;
    text-align: center;
    h2{
      text-transform: uppercase;
    }
  }
  .button-container{
    text-align: center;
  }
  &.title{
    .prod-slider-container {
  
     .button-next,
     .button-prev{
       top: 47%;
      }  
    }
  }
  .prod-slider-container {
     position: unset;
     padding-bottom: 24px;
    .button-next{
      &::after{
        content: '';
      }
      top: 37%;
      right: -40px;
      &.swiper-button-disabled{
        transform: scale(0);
        transition: 1s ease;
      }
    }
    .button-prev{
      &::after{
        content: '';
      }
      top: 38%;
      transform: rotate(180deg);
      left: -37px;
      &.swiper-button-disabled{
        transform: scale(0);
        transition: 1s ease;
      }
    }
    
  }
}
.prod-card-container {
  max-width: 247px;
  cursor: pointer;
  .prod-banner-wrapper {
    position: relative;
    padding-bottom: 12px;
    .img-wrapper {
      max-width: 247px;
      max-height: 370px;
      img{
        width: 100%;
        height: 100%;
        object-fit: none;
      }
    }
    .promo-wrapp {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 8px 10px 0 8px;
      .best-saler {
        background-color: $color_ivert;        
        max-width: 38px;
        max-height: 20px;
        visibility: hidden;
        opacity: 0;
        span{
          text-transform: uppercase;
          font-family: $gordita_bold;
          font-size: 10px;
          line-height: 1.6;
          padding: 8px 8px
        }
      }
      .favorit{
        svg {
           stroke: $color_text;
           width: 21px;
           height: 20px;
           fill: none;
           &:hover{
             stroke: $color-action-h;
             fill: $color-action-h;
             transition: 0.3s ease;
           }
        }
       &.select svg{
         stroke: $color-action-h;
         fill: $color-action-h;
         transition: 0.3s ease;       
       }
     }
    }

  }
  .price-wrap {
    padding-bottom: 2px;
    .price {     
      font-family: $gordita_medium;
      font-size: 12px;
      line-height: 20px;
      &:first-child{
      display: none;
    }
      
    }
  }
  &.sale {
     .price-wrap {
       .price {     
         &:first-child{
           display: inline-block;
           padding-right: 14px;
           color: $color-price-sale;
         }
         &:last-child{
           color: $color-goods-des;
           text-decoration: line-through;
         }
       }
     }
  }
  &.best-saler {
    .promo-wrapp{
      .best-saler{
        visibility: visible;
        opacity: 1;
      }
    } 
  }
  .discrption-goods {
    p{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $color-goods-des;
    }
  }
}
.promo-banner {
  &.custom{
    padding-top: 9px;
  }
  padding-bottom: 32px;
  .banner-wrapper {
      position: relative;
      .img-wrapper {
        max-width: 1300px;
        max-height: 600px;
        img{
          width: 100%;
          height: 100%;
          object-fit: none;
        }
     }
      .content-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;  
        h2{
          font-family: $philosopher_regular;
          @include adaptiv-font(80, 40);
          @include adaptiv-line-height(90, 45);
          color: $color_ivert;
          padding: 97px 0 51px;
          white-space: nowrap;
          text-transform: uppercase;
        }
        a{
         text-decoration: underline;
         transition: 0.3s ease;
         &:hover{
           text-decoration: none;
           color: $color-action;
           transition: 0.3s ease;
         }
         font-size: 16px;
         line-height: 24px;
         color: $color_ivert;
        }
     }
  } 
}
.reason-buy {
  padding-bottom: 49px;
  .reason-buy-container {
    border-top: 1px solid $color-line-border;

    .reason-buy-title {
      text-align: center;
      padding: 40px 0 32px;
      text-transform: uppercase;
    }
    .reason-buy-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1245px;
      margin: auto;
      .reason-buy-items {
        .img-wrapper {
          text-align: center;
          height: 56px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .content {
          padding-top: 15px;
            p {
              text-align: center;
              &.small_text{
                font-size: 10px; 
              }
            } 
         }
      }
    }
  }
}
.seo-text {
  padding-bottom: 76px;
  .seo-text-wrapper {
    padding-top: 40px;
    border-top: 1px solid $color-line-border;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .seo-text-items {
      max-width: 575px;
      .title {
        padding-bottom: 24px;
      }
    }
  }
}
footer{
  background-color: $color-bg-footer;
  padding-top: 32px;
  .footer-mobile-content{
    display: none;
  }
  
}

.sec-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
  .logo-wrapper {
    width: 200px;
    height: 67px;
    margin-top: 24px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .footer-content {
    display: flex;
    padding-right: 19px;
    .titel-list {
      padding-bottom: 4px;
      p{
        font-family: $gordita_medium;
      }
      
    }
    .list-item {
      min-width: 200px;
    
         .list-items {
           padding: 4px 0;
           a{
             transition: 0.3s ease;
           }
           &.open-time{
             display: none;
           }
           a:hover{
             color: $color-action-h;
             transition: 0.3s ease;
           }
         }
    }
    .list-wrapper {
      padding-right: 38px;
    }
    .social-wrapper {
      padding-right: 38px;
         .social-item {
           display: flex;
           min-width: 200px;
           padding-top: 9px;
           .social-items{
             margin-right: 10px;
             &:last-child a svg,
             &:first-child a svg{
               fill: $color_text;
             }
             a svg{
               width: 24px;
               height: 24px;
               fill: none;
               stroke: $color_text;
               transition: 0.3s ease;
               &:hover{
                 fill: $color-action-h;
                 stroke: $color-action-h;
                 transition: 0.3s ease;
               }
             }
             &:last-child{
               margin-right: 0;
             }

           }
  
        }
    }   
  .call-us-wrapper {
    .list-items{
      position: relative;
      padding-left: 25px;
    }
    li.mail::before{
      content: '';
      position: absolute;
      background-image: url(../img/mail-icon.png);
      background-repeat: no-repeat;
      width: 16px;
      height: 12px;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
     li.phone::before{
       content: '';
       position: absolute;
       background-image: url(../img/phone-icon.png);
       background-repeat: no-repeat;
       width: 16px;
       height: 16px;
       top: 50%;
       left: 0;
       transform: translate(0, -50%);
     }
  }
    
  }

}
.mob_block {
  display: none;
}
.pay-var {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 194px;
      .wrapp-mc {
        margin-right: 21px;
      }
      
}
.sec-buttom {
  border-top: 1px solid $color_line_dec;
  .wrapper-bottom {
    padding: 30px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
  }
  .develop-wrapper {
    display: flex;
    align-items: flex-start;
    .develop {
      margin-right: 48px;
      a{
        text-decoration: underline;
        transition: .3s ease;
        &:hover{
          color: $color-action-h;
          transition: .3s ease;
        }
      }
    }
  }
  .lang-wrapper {
    display: flex;
    align-items: flex-start;
    .lang {
      padding-right: 25px;
    }
  } 
  .select-lang {
    position: relative;
    padding-right: 24px;
    padding-bottom: 11px;
    border-bottom: 1px solid #666;
    margin-top: -6px;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../img/arrow-lang.png);
      background-repeat: no-repeat;
      width: 16px;
      height: 8px;
      right: 0;
      top: 25%;
    }
    .lang-item {
      .lang-items {
        position: relative;
        padding: 0 8px 0 24px;

        &::before{
          content: '';
          position: absolute;
          background-image: url(../img/ru-lang.png);
          background-repeat: no-repeat;
          width: 16px;
          height: 17px;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
}
// history_page_start
.banner {
  &.hist {
    .container {
      position: relative;
      .desc_banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo-wrapper{
          padding: 5px 24px 5px 0;
          border-right: 3px solid $color_ivert;
          svg{
            width: 200px;
            height: 66px;
            fill: $color_ivert;
          }
        }
        .text_content {
          padding: 0 0 0 25px;
          p{
            font-family: $gordita_medium;
            font-size: 50px;
            line-height: 40px;
            color: $color_ivert;
          }
        }
      }
      .img-wrapper {
        max-height: 600px;
        position: relative;
        img{
          width: 100%;
        }
        &::after{
          content: '';
          background-color: rgba(0, 0, 0, 0.13);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
.promotion.hist {
  &.right{
    .container {
      .promo-wrapper {
        flex-direction: row-reverse;
      }
    }  
  }
  .container {
     .promo-items {
        .promo-img {
          max-width: 642px;
          max-height: 700px;
        }
     }
     .promo-text {
       max-width: 556px;
       .promo-text-header {
         .det-page {
           padding: 0 0 24px;
         }
       }
       .promo-text-content {
         padding: 0 0 24px;
         p{
           text-align: center;
         }
       }
       .promo-text-goods {
         .goods-wrapper {
           display: flex;
           justify-content: space-around;
           align-items: center;
           padding-bottom: 24px;
           .prod-card-container {
             max-width: 200px;
             .prod-banner-wrapper {
               .img-wrapper {
                 max-width: 200px;
                 max-height: 300px;
               }
               .promo-wrapp {
                 padding: 15px 25px 0;
                 justify-content: flex-end;
               }
             }
           }  
         }
         .btn-promo-goods {
           display: block;
           margin: 0 auto;
           padding: 17px 32px;
           width: 328px;
         }
       }
     }
  }
}
// history_page_end










