@charset "UTF-8";
/*--fonts--*/
/*--fonts--*/
/*--colors--*/
/*--colors--*/
@media only screen and (max-width: 1380px) {
  .container {
    padding: 0 20px; }
  .menu_items.active > .sub_menu {
    padding-left: calc((100vw - 1280px) / 2);
    padding-right: calc((100vw - 1280px) / 2); }
    .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu {
      padding: 41px calc((100vw - 1280px) / 2) 73px; }
  .prod-slider .prod-slider-container .button-next {
    right: 0px; }
  .prod-slider .prod-slider-container .button-prev {
    left: 0px; }
  .promotion .container .promo-wrapper .promo-items:first-child {
    margin-right: 10px; }
  .promotion .container .promo-wrapper .promo-items:last-child {
    margin-left: 10px; }
  .sec-top .footer-content .list-wrapper {
    padding-right: 15px; } }

@media only screen and (max-width: 1300px) {
  .menu_items.active > .sub_menu {
    padding-left: 20px;
    padding-right: 20px; }
    .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu {
      padding: 41px 20px 73px; } }

@media only screen and (max-width: 1199px) {
  .sec-top {
    flex-direction: column;
    align-items: center; }
  .sec-top .logo-wrapper {
    margin-bottom: 40px; }
  .prod-slider .prod-slider-container .button-next {
    right: 0px; }
  .prod-slider .prod-slider-container .button-prev {
    left: 0px; }
  .seo-text .seo-text-wrapper .seo-text-items:first-child {
    padding-right: 10px; }
  .seo-text .seo-text-wrapper .seo-text-items:last-child {
    padding-left: 10px; }
  .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ {
    min-width: 150px;
    margin-right: 5px; }
  .promotion.hist .container .promo-text {
    max-width: calc(100vw / 2);
    margin: 0 25px; } }

@media only screen and (max-width: 1124px) {
  .catalog .container .filter-wrapper.open {
    height: 168px; } }

@media only screen and (max-width: 1024px) {
  .prod-slider .prod-slider-container .button-next,
  .prod-slider .prod-slider-container .button-prev {
    display: none; }
  .sec-top .footer-content {
    flex-wrap: wrap; }
  .sec-buttom .wrapper-bottom {
    display: none; }
  .mob_block {
    display: block; }
    .mob_block .pay-var {
      padding: 16px 0;
      margin: 0 auto;
      justify-content: center; }
    .mob_block .wrappre_sec-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .mob_block .select-lang .lang-item .lang-items {
      padding-left: 0; }
      .mob_block .select-lang .lang-item .lang-items::before {
        display: none; }
  .sec-top .footer-content .list-item,
  .sec-top .footer-content .social-wrapper .social-item {
    min-width: 180px; }
  .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .img-wrapper {
    max-width: 200px;
    max-height: 225px;
    overflow: hidden; }
  .promotion.hist .container .promo-wrapper,
  .promotion.hist.right .container .promo-wrapper {
    flex-direction: column; }
  .prod-slider .prod-slider-title {
    text-align: left;
    padding-bottom: 8px; }
  .promotion.hist .container .promo-text {
    max-width: 642px;
    margin: 0; }
  .promotion.hist .container .promo-text .promo-text-header .det-page {
    text-align: left;
    padding: 24px 0; }
  .promotion.hist .container .promo-text .promo-text-content p {
    max-width: 100%;
    text-align: left; } }

@media only screen and (max-width: 992px) {
  .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .img-wrapper {
    max-width: 175px;
    max-height: 200px;
    overflow: hidden; } }

@media only screen and (max-width: 900px) {
  main {
    padding-top: 91px; }
  .head_wrapper {
    align-items: center;
    padding: 11px 0 9px; }
  .sub_menu_wrapp,
  .nav_wrapper {
    display: none; }
  .log_wrapper {
    display: flex;
    align-items: center; }
  .burg-wrap {
    display: flex;
    align-items: center;
    padding-right: 10px; }
  .burg-wrap {
    display: block; }
  .burger-menu {
    position: relative;
    width: 20px;
    height: 12px;
    cursor: pointer; }
    .burger-menu::after, .burger-menu::before {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      transition: all 0.3s ease-in-out; }
    .burger-menu::before {
      top: 0; }
    .burger-menu::after {
      bottom: 0; }
    .burger-menu span {
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s ease-in-out; }
  .banner .slider_container .slider-wrapp .slider_items .desc_banner {
    transform: translate(-50%, -50%); }
  .prod-card-container .prod-banner-wrapper .img-wrapper img {
    object-fit: contain; }
  footer {
    padding: 0; }
    footer .footer-mobile-content {
      display: block; }
  .footer-mobile-content .accordion-wrapp .accordion-item {
    position: relative; }
    .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable {
      border-bottom: 1px solid #e8e8e8; }
      .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable label {
        font-family: "Gordita-Medium", sans-serif;
        display: block;
        padding: 16px 0;
        position: relative;
        cursor: pointer; }
        .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable label::after, .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable label::before {
          content: "";
          background-color: #222222;
          position: absolute;
          width: 12px;
          height: 1px;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          transition: all 0.3s ease-in-out; }
        .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable label::before {
          transform: rotate(0deg);
          transition: all 0.3s ease-in-out; }
        .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable label::after {
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out; }
      .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable .accordion-input:checked ~ .head::before {
        transform: rotate(-180deg);
        transition: all 0.3s ease-in-out; }
      .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable .accordion-input:checked ~ .head::after {
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out; }
      .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable .accordion-input:checked ~ .list-item {
        display: block;
        width: auto;
        height: auto;
        padding-bottom: 16px;
        transform: scaleY(1);
        transition: transform .3s ease; }
      .footer-mobile-content .accordion-wrapp .accordion-item .accordion-item-lable .list-item {
        position: relative;
        width: 0;
        height: 0;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .3s ease; }
  .sec-top {
    padding-bottom: 16px;
    display: block; }
    .sec-top .logo-wrapper {
      display: none; }
    .sec-top .footer-content {
      flex-direction: column-reverse; }
      .sec-top .footer-content .list-wrapper {
        display: none; }
      .sec-top .footer-content .social-wrapper {
        padding: 0; }
        .sec-top .footer-content .social-wrapper .titel-list {
          display: none; }
        .sec-top .footer-content .social-wrapper .social-item {
          justify-content: center;
          min-width: 100%;
          padding: 0; }
      .sec-top .footer-content .call-us-wrapper .titel-list {
        display: none; }
      .sec-top .footer-content .call-us-wrapper .list-item {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px; }
        .sec-top .footer-content .call-us-wrapper .list-item .list-items {
          margin-bottom: 16px; }
          .sec-top .footer-content .call-us-wrapper .list-item .list-items.open-time {
            padding: 0;
            display: block; }
  .sec-top .footer-content .list-item .list-items {
    padding-top: 0;
    padding-bottom: 0; }
  .sec-top .footer-content .social-wrapper .social-item .social-items {
    margin-right: 26px; }
  .basket-preview-container {
    right: 50%;
    top: 78px;
    transform: translate(50%, 0);
    width: 343px; }
  .features_site_wrapper .features_site {
    position: unset; }
  .banner.hist .container .desc_banner {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    padding: 17px 0 16px; }
    .banner.hist .container .desc_banner .logo-wrapper {
      border-color: #222222;
      padding: 5px 7px 5px; }
      .banner.hist .container .desc_banner .logo-wrapper svg {
        fill: #222222;
        width: 58px;
        height: 19px; }
    .banner.hist .container .desc_banner .text_content {
      padding: 0 0 0 7px; }
      .banner.hist .container .desc_banner .text_content p {
        font-size: 22px;
        line-height: 22px;
        color: #222222;
        padding-bottom: 0; }
  section.info .container .info-frame {
    flex-direction: column; }
  section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title {
    font-size: 13px;
    line-height: 23px; }
  .mob_block .wrappre_sec-bottom .copy-block p,
  .mob_block .wrappre_sec-bottom .copy-block p span,
  .mob_block .wrappre_sec-bottom .copy-block p a {
    font-size: 12px;
    line-height: 20px; }
  .mob_block {
    padding-bottom: 16px; }
  .catalog .container .goods-gallery-block .goods-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 16px; }
  .catalog .container .filter-wrapper .descktop-filter-container {
    display: none; }
  .catalog .container .filter-wrapper .mobile-filter-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0; }
    .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .filter-header, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .filter-header {
      display: block;
      border: 1px solid #e8e8e8;
      padding: 7.5px 30px 7.5px 16px;
      border-radius: 2px;
      width: 170px;
      position: relative;
      cursor: pointer;
      transition: .3s ease-in-out;
      z-index: 4; }
      .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .filter-header.no-active, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .filter-header.no-active {
        border-color: #666;
        opacity: 0.5;
        cursor: not-allowed; }
      .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .filter-header svg, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .filter-header svg {
        width: 16px;
        height: 9px;
        fill: none;
        stroke: #222222;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -4px;
        margin-right: 16px;
        transition: all 0.3s ease-in-out; }
      .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .filter-header:hover, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .filter-header:hover {
        border-color: #666;
        transition: .3s ease-in-out; }
    .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999;
      width: 100vw;
      height: 100%;
      background-color: #fff; }
      .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter.active, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter.active {
        opacity: 1;
        visibility: visible; }
      .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .title-filter, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .title-filter {
        padding: 16px 0;
        position: relative; }
        .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .title-filter p, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .title-filter p {
          font-family: "Gordita-Bold", sans-serif;
          text-transform: uppercase;
          text-align: center; }
        .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .title-filter svg, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .title-filter svg {
          position: absolute;
          cursor: pointer;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          margin-right: 16px;
          width: 24px;
          height: 24px;
          stroke: #222222; }
          .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .title-filter svg:hover, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .title-filter svg:hover {
            stroke: #e9500e;
            transition: 0.3s ease-in-out; }
      .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .filter-item .filter-items, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .filter-item .filter-items {
        padding: 12px 0 12px 16px;
        border-bottom: 1px solid #e8e8e8; }
        .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .filter-item .filter-items:first-child, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .filter-item .filter-items:first-child {
          border-top: 1px solid #e8e8e8; }
        .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .modal-fiter .filter-item .filter-items a, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter .filter-item .filter-items a {
          font-family: "Gordita-Medium", sans-serif; }
    .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .modal-fiter {
      overflow-x: scroll; }
    .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items {
      padding: 12px 16px 12px 16px;
      border-bottom: 1px solid #e8e8e8;
      max-height: 46px;
      overflow: hidden; }
      .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items:first-child {
        border-top: 1px solid #e8e8e8; }
      .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items.active {
        max-height: 100%;
        overflow: visible; }
      .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-right: 30px; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header p {
          font-family: "Gordita-Medium", sans-serif; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header::after, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header::before {
          content: "";
          background-color: #222222;
          position: absolute;
          width: 12px;
          height: 1px;
          right: 0;
          margin-right: 16px;
          top: 50%;
          transition: all 0.3s ease-in-out; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header::before {
          transform: translate(0, -50%) rotate(0deg);
          transition: all 0.3s ease-in-out; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header::after {
          transform: translate(0, -50%) rotate(90deg);
          transition: all 0.3s ease-in-out; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header.active::before {
          transform: rotate(180deg);
          transition: all 0.3s ease-in-out; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .mob-filter-header.active::after {
          transform: rotate(0deg);
          transition: all 0.3s ease-in-out; }
      .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .content-filter {
        padding-top: 25px; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .content-filter.size .mob-check-item {
          max-height: 200px; }
      .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .extra-controls {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .extra-controls .input-range-wrapper {
          max-width: 102px;
          overflow: hidden;
          position: relative; }
          .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .extra-controls .input-range-wrapper input {
            color: #666; }
          .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .extra-controls .input-range-wrapper::before {
            content: '₽';
            position: absolute;
            font-family: "Gordita-Regular", sans-serif;
            color: #666;
            font-size: 14px;
            line-height: 24px;
            top: 50%;
            right: 0;
            transform: translate(0, -50%); }
      .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider {
        max-width: 100%; }
        .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round {
          height: 5px;
          padding-bottom: 28px; }
          .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs .irs-min, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs .irs-max, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs .irs-from, .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs .irs-to {
            display: none; }
          .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs-handle {
            top: -5px;
            width: 12px;
            height: 12px;
            border: unset;
            background-color: #e9500e;
            border-radius: 50%;
            box-shadow: unset; }
          .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs-bar {
            height: 3px;
            background-color: #e9500e;
            top: 0px; }
          .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .mob-filter-item .mob-filter-items .range-slider .irs--round .irs-line {
            top: 0px; }
  .catalog .container .catalog-wrapper {
    margin-top: 0; }
  .mob-modal-btn {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom: 0; }
    .mob-modal-btn .modal-reset {
      font-family: "Gordita-Medium", sans-serif;
      font-size: 13px;
      line-height: 23px;
      color: #222222;
      border: 1px solid #222222;
      border-radius: 2px;
      padding: 10px 12px;
      max-width: 163px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mob-modal-btn .modal-reset.no-active {
        opacity: 0.5;
        cursor: not-allowed; }
        .mob-modal-btn .modal-reset.no-active:hover {
          border-color: #222222;
          color: #222222; }
          .mob-modal-btn .modal-reset.no-active:hover span {
            color: #222222; }
      .mob-modal-btn .modal-reset:hover {
        border-color: #e9500e;
        color: #e9500e; }
        .mob-modal-btn .modal-reset:hover span {
          color: #e9500e; }
      .mob-modal-btn .modal-reset span {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit; }
    .mob-modal-btn .modal-submit {
      border: none;
      background-color: #e9500e;
      color: #fff;
      border-radius: 2px;
      max-width: 163px; }
      .mob-modal-btn .modal-submit.no-active {
        opacity: 0.5;
        cursor: not-allowed; }
        .mob-modal-btn .modal-submit.no-active:hover {
          background-color: #e9500e; }
      .mob-modal-btn .modal-submit:hover {
        background-color: #cf470c; }
  .mob-check-items {
    padding-bottom: 16px; }
  .content-filter.color .mob-check-item-color {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 24px 16px; }
  .content-filter.color .mob-check-items {
    max-width: 69px;
    max-height: 60px; }
    .content-filter.color .mob-check-items label[data-color] {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      padding-left: 0; }
      .content-filter.color .mob-check-items label[data-color]::after {
        font-family: "Material Icons";
        content: '\e5ca';
        font-size: 24px;
        top: 37%;
        left: 50%; }
      .content-filter.color .mob-check-items label[data-color] .color-holder {
        width: 44px;
        height: 44px;
        top: unset;
        left: unset;
        position: relative;
        transform: unset;
        border-radius: 2px;
        margin: 0 auto;
        display: block; }
      .content-filter.color .mob-check-items label[data-color] .color-name {
        font-size: 9px;
        line-height: 16px;
        text-align: center; } }

@media only screen and (max-width: 767px) {
  main section button {
    width: 100%;
    padding: 13px 0; }
  .container {
    padding: 0 16px; }
  .log_wrapper .logo {
    max-width: 80px;
    max-height: 27px;
    margin-right: 5px; }
    .log_wrapper .logo svg {
      width: 80px;
      height: 27px; }
  .promotion {
    padding-bottom: 0; }
  .promo_line .promo_text {
    display: none; }
  .promo_line > svg {
    display: none; }
  .promo_line .promo_mob {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .promo_line .promo_mob svg {
      stroke: #fff;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 4px; }
  .features_site_wrapper .features_site .features_items:hover {
    border-bottom: transparent; }
  .features_site_wrapper .features_site .features_items .icon_title {
    font-size: 7px;
    line-height: 14px; }
  .banner {
    padding-bottom: 44px; }
    .banner .slider_container .slider-wrapp .slider_items .img-wrapper {
      height: 349px; }
      .banner .slider_container .slider-wrapp .slider_items .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20%; }
    .banner .slider_container .slider-wrapp .slider_items .desc_banner .text_contetn p {
      text-align: center;
      font-size: 32px; }
    .banner .slider_container .slider-wrapp .slider_items .desc_banner button {
      padding: 4px 31px 3px;
      font-size: 10px;
      line-height: 16px; }
  .features_site_wrapper .features_site .features_items {
    margin-right: 12px; }
  .banner .container {
    padding: 0; }
  .prod-slider .swiper-container {
    overflow: visible; }
  section {
    overflow: hidden; }
  .promotion .container .promo-wrapper {
    flex-direction: column; }
  .promotion .container .promo-wrapper .promo-items:first-child {
    margin-right: 0; }
  .promotion .container .promo-wrapper .promo-items:last-child {
    margin-left: 0; }
  .promotion .container .promo-wrapper .promo-items .promo-content {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    padding-bottom: 35px; }
    .promotion .container .promo-wrapper .promo-items .promo-content h1 {
      color: #222222;
      margin: 0 auto;
      line-height: 30px;
      padding-bottom: 16px; }
    .promotion .container .promo-wrapper .promo-items .promo-content a {
      color: #222222; }
  .promotion .container .promo-wrapper .promo-items .promo-img {
    margin-bottom: 27px;
    max-width: 100%;
    max-height: 100%; }
  .promo-banner .banner-wrapper .content-wrapper h2 {
    white-space: normal; }
  .reason-buy {
    padding-bottom: 32px; }
    .reason-buy .reason-buy-container {
      text-align: center; }
      .reason-buy .reason-buy-container .reason-buy-title h2 {
        font-size: 13px;
        line-height: 23px; }
      .reason-buy .reason-buy-container .reason-buy-wrapper {
        display: inline-block; }
        .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items {
          display: flex;
          align-items: center;
          margin-bottom: 25px; }
          .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items:last-child {
            margin-bottom: 0; }
          .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items:last-child .img-wrapper {
            padding-left: 9px; }
          .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper {
            max-width: 36px;
            margin-right: 20px;
            height: unset; }
            .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper .free_shipping {
              width: 36px;
              height: 26px; }
            .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper .high_quality {
              width: 36px;
              height: 36px; }
            .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper ._day {
              width: 34px;
              height: 36px; }
            .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper .return {
              width: 27px;
              height: 36px; }
          .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content p {
            text-align: left; }
            .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content p.small_text {
              line-height: 16px; }
  .prod-slider.title {
    padding-bottom: 0; }
  .seo-text {
    padding-bottom: 24px; }
  .seo-text .seo-text-wrapper .seo-text-items:first-child {
    padding-right: 0px;
    padding-bottom: 24px; }
  .seo-text .seo-text-wrapper .seo-text-items:last-child {
    padding-left: 0px; }
  .seo-text .seo-text-wrapper {
    flex-direction: column; }
  .seo-text .seo-text-wrapper .seo-text-items {
    max-width: 100%; }
  .seo-text .seo-text-wrapper {
    padding-top: 24px; }
  .seo-text .seo-text-wrapper .seo-text-items .title h3 {
    font-size: 13px;
    line-height: 23px; }
  .prod-card-container .discrption-goods p {
    font-size: 12px;
    line-height: 20px; }
  .prod-card-container.sale .price-wrap .price:first-child {
    padding-right: 8px; }
  .prod-card-container .prod-banner-wrapper {
    padding-bottom: 8px; }
  .promo-banner .banner-wrapper .content-wrapper h2 {
    min-width: 400px; }
  .promo-banner.custom {
    padding-top: 0; }
  .promo-banner {
    padding-bottom: 16px; }
  .prod-slider.custom {
    padding-bottom: 24px; }
  .reason-buy .reason-buy-container .reason-buy-title {
    padding: 24px 0; }
  .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content {
    padding-top: 0; }
  .prod-slider .prod-slider-title h2 {
    line-height: 23px;
    font-size: 13px; }
  .promotion.hist .container .promo-wrapper .promo-items .promo-img {
    margin-bottom: 0; }
  .promotion .container .promo-wrapper .promo-items .promo-img img {
    object-fit: cover; }
  .promotion.hist .container .promo-text .promo-t-wrapp {
    position: relative;
    top: -13px;
    left: 12px;
    background-color: #fff;
    padding: 0 24px;
    margin-bottom: -13px; }
  .banner.catalog {
    padding-bottom: 8px; }
  .banner.catalog .container .banner-wrapper .desc_banner .text_contetn .slogan {
    padding-bottom: 4px; }
  .reason-buy.caralog {
    padding-top: 0; }
  .prod-slider.title.promo {
    padding-bottom: 0; }
  .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container .prod-banner-wrapper .promo-wrapp {
    padding: 4px 4px 0; }
    .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container .prod-banner-wrapper .promo-wrapp .favorit {
      margin-top: 6px;
      margin-right: 6px; }
  .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .banner-wrapper .desc_banner .text_contetn {
    max-width: 160px; }
  .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .banner-wrapper .desc_banner button {
    max-width: 136px;
    font-size: 10px;
    line-height: 16px;
    padding: 8px 0; }
  .catalog .container .nav-wrapper .nav-header {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .catalog .container .nav-wrapper .nav-header h1 {
      padding-right: 4px; }
    .catalog .container .nav-wrapper .nav-header span {
      display: block; }
  .catalog .container .catalog-wrapper .header-find-goods,
  .catalog .container .cat-pagination-wrapper .goods-per-page-wrapper {
    display: none; }
  .catalog .container .goods-gallery-block {
    padding-bottom: 37px; }
  .catalog .container .cat-pagination-wrapper {
    justify-content: center; }
    .catalog .container .cat-pagination-wrapper.top {
      display: none; }
  .catalog .container .cat-pagination-wrapper .pagination-container {
    justify-content: center;
    align-items: center; }
    .catalog .container .cat-pagination-wrapper .pagination-container.top {
      display: none; }
    .catalog .container .cat-pagination-wrapper .pagination-container .pagin-previous p,
    .catalog .container .cat-pagination-wrapper .pagination-container .pagin-next p {
      display: none; }
    .catalog .container .cat-pagination-wrapper .pagination-container .pagin-numb .mob-page {
      display: block;
      padding-right: 36px; } }

@media only screen and (max-width: 480px) {
  .promo-banner .banner-wrapper .img-wrapper {
    max-width: 100%;
    max-height: 343px;
    margin: 0 auto; }
  .promotion .container .promo-wrapper .promo-items .promo-img {
    max-height: 100%; }
  .promo-banner .banner-wrapper .content-wrapper h2 {
    white-space: normal;
    min-width: 300px;
    padding: 0; }
  .promo-banner .banner-wrapper .content-wrapper {
    bottom: 32px;
    top: unset;
    transform: translate(-50%, 0); }
  .promo-banner .banner-wrapper .content-wrapper h2 {
    padding-bottom: 93px; }
  .promo-banner.custom .banner-wrapper .content-wrapper h2 {
    padding-bottom: 71px; }
  .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper {
    justify-content: space-between; }
  .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container {
    margin: 0;
    max-width: unset; }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container:first-child {
      margin-right: 2px; }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container:last-child {
      margin-left: 2px; }
  .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper .img-wrapper {
    max-width: unset;
    max-height: unset; }
  .promotion.hist .container .promo-text .promo-text-goods .btn-promo-goods {
    width: 100%; }
  section.info .container .info-frame .info-content-wrapper > .title {
    font-size: 13px;
    line-height: 23px; }
  section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper {
    flex-direction: column;
    padding: 0; }
    section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper .delivery-items {
      padding-bottom: 24px; }
  .banner.hist .container .desc_banner {
    padding: 11px 0 16px; }
  .banner.hist .container .desc_banner .logo-wrapper {
    padding: 1px 7px 1px; }
  .banner.hist .container .desc_banner .text_content {
    margin-top: -5px; }
  .banner.hist .container .img-wrapper {
    height: 173px; }
    .banner.hist .container .img-wrapper img {
      height: 100%; }
  .banner.hist {
    padding-bottom: 17px; }
  .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper .promo-wrapp {
    padding: 11px 10px 0; }
  .promotion.hist {
    padding-bottom: 24px; }
  .prod-slider.hist.title {
    padding: 16px 0 0; }
  .catalog .container .goods-gallery-block .goods-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 4px; }
  .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container .descr-wrapper {
    margin-bottom: 0;
    max-height: 64px; }
  .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .banner-wrapper .desc_banner .text_contetn {
    max-width: 105px; }
  .catalog .container .goods-gallery-block .goods-gallery-grid .goods-items .prod-card-container:hover .prod-banner-wrapper {
    margin-bottom: 72px; }
  .catalog .container .nav-wrapper .sub-nav .sub-nav-item {
    overflow-x: scroll; } }

@media only screen and (max-width: 375px) {
  .promotion.hist .container .promo-wrapper .promo-items .promo-img {
    height: 374px;
    width: 100%; }
  .promotion .container .promo-wrapper .promo-items .promo-img {
    height: 343px; }
  .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container {
    margin: 0;
    max-width: 169px; } }

@media only screen and (max-width: 374px) {
  .menu_mobile .mobile-menu-wrapper .menu_item > .menu_items > a {
    padding: 0 12px; }
  .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container {
    max-width: 150px; }
  section.info .container .info-frame .info-content-wrapper > .title {
    font-size: 12px;
    line-height: 23px; }
  .basket-preview-container {
    width: 300px; }
  .catalog .container .filter-wrapper .mobile-filter-container .sort-btn .filter-header,
  .catalog .container .filter-wrapper .mobile-filter-container .filter-btn .filter-header {
    width: 140px; } }
