@charset "UTF-8";
/*--fonts--*/
/*--fonts--*/
/*--colors--*/
/*--colors--*/
/*--var--*/
/*--var--*/
header {
  transition: 0.5s ease; }
  header.lock_header {
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
    transition: 0.5s ease; }

main {
  padding-top: 140px; }

.not_prod .log_wrapper {
  height: 80px;
  display: block; }
  .not_prod .log_wrapper .logo {
    margin: 16px auto;
    max-width: 200px; }
    .not_prod .log_wrapper .logo a {
      display: block; }
      .not_prod .log_wrapper .logo a img {
        width: 100%;
        height: 100%;
        padding: 5px; }

.not_prod .list-all-page {
  text-align: center;
  margin-top: 50px; }
  .not_prod .list-all-page .items-page {
    margin: 20px 0; }
    .not_prod .list-all-page .items-page a {
      font-family: "Philosopher-Regular", sans-serif;
      font-size: 50px;
      transition: 0.6s ease; }
      .not_prod .list-all-page .items-page a:hover {
        color: #e9500e;
        transition: 0.6s ease; }

body a,
body p,
body button,
body input,
body span,
body textarea, body h1, body h2, body h3, body h4,
body li,
body label {
  font-family: "Gordita-Regular", sans-serif;
  color: #222222;
  font-size: 13px;
  line-height: 23px;
  white-space: normal; }

body input {
  border: 1px solid #e8e8e8;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  color: #666; }

body input[type="submit"] {
  border: none; }

body input:valid,
body input:focus {
  color: #222222; }

body
.line-decor {
  height: 1px;
  background-color: #e8e8e8;
  position: relative;
  z-index: 6;
  pointer-events: none; }

body.modal {
  overflow: hidden; }

body {
  overflow-x: hidden; }
  body h1, body h2 {
    font-size: 16px;
    line-height: 26px;
    font-family: "Gordita-Medium", sans-serif; }
  body h1.det-page {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Gordita-Medium", sans-serif; }
  body h2.det-page {
    font-size: 40px;
    line-height: 1;
    font-family: "Philosopher-Regular", sans-serif; }
  body h3 {
    font-family: "Gordita-Medium", sans-serif;
    font-size: 14px;
    line-height: 24px; }
  body h4 {
    font-family: "Gordita-Medium", sans-serif; }

.visually-hidden {
  clip: rect(0 0 0 0);
  z-index: -1;
  position: fixed;
  width: 1px;
  height: 1px;
  opacity: 0; }

.promo_line {
  background-color: #222222;
  max-height: 30px;
  position: relative; }
  .promo_line .promo_text, .promo_line .promo_text_mob,
  .promo_line .promo_text a {
    color: #fff;
    text-align: center;
    font-family: "Gordita-Medium", sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0; }
  .promo_line .promo_text a {
    text-decoration: underline;
    transition: 0.3s ease; }
    .promo_line .promo_text a:hover {
      color: #e9500e;
      transition: 0.3s ease; }
  .promo_line > svg {
    stroke: #fff;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 3px;
    cursor: pointer; }
    .promo_line > svg:hover {
      stroke: #e9500e; }
  .promo_line .promo_mob {
    display: none; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden; }
  .popup.active {
    opacity: 1;
    visibility: visible; }
  .popup .popup__wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px; }
    .popup .popup__wrapper .popup__content {
      position: relative;
      margin: 0 auto;
      width: 346px;
      padding: 16px;
      background-color: #fff; }
      .popup .popup__wrapper .popup__content .close-popup {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 17px;
        padding-right: 14px;
        cursor: pointer; }
        .popup .popup__wrapper .popup__content .close-popup:hover svg {
          stroke: #e9500e;
          transition: 0.3s ease; }
        .popup .popup__wrapper .popup__content .close-popup svg {
          stroke: #222222;
          width: 20px;
          height: 20px;
          transition: 0.3s ease; }
      .popup .popup__wrapper .popup__content .header-popup {
        text-transform: uppercase;
        font-family: "Gordita-Medium", sans-serif;
        padding-bottom: 16px; }
      .popup .popup__wrapper .popup__content .text-content {
        padding-bottom: 27px; }
      .popup .popup__wrapper .popup__content .form {
        padding: 0 0 10px; }
        .popup .popup__wrapper .popup__content .form .input_wrap {
          display: flex;
          flex-direction: column;
          padding: 0 0 37px; }
          .popup .popup__wrapper .popup__content .form .input_wrap.end {
            padding: 0 0 24px; }
          .popup .popup__wrapper .popup__content .form .input_wrap label.error {
            color: #EB001B;
            font-size: 11px;
            line-height: 12px; }
        .popup .popup__wrapper .popup__content .form .sub-input_wrap input {
          width: 100%;
          color: #fff;
          font-family: "Gordita-Medium", sans-serif;
          padding: 10px 0;
          background-color: #e9500e;
          border-radius: 2px; }
        .popup .popup__wrapper .popup__content .form .sub-input_wrap input:hover {
          background-color: #cf470c; }
      .popup .popup__wrapper .popup__content .link_wrapper {
        text-align: center;
        padding-bottom: 24px; }
      .popup .popup__wrapper .popup__content .social-sing-wrapp {
        padding-bottom: 24px;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 24px; }
        .popup .popup__wrapper .popup__content .social-sing-wrapp p {
          text-align: center;
          font-size: 12px;
          line-height: 23px;
          font-family: "Gordita-Medium", sans-serif;
          padding-bottom: 10px; }
        .popup .popup__wrapper .popup__content .social-sing-wrapp .icon-wrapper {
          display: flex;
          justify-content: center; }
          .popup .popup__wrapper .popup__content .social-sing-wrapp .icon-wrapper .icon-items {
            margin: 0 8px; }
            .popup .popup__wrapper .popup__content .social-sing-wrapp .icon-wrapper .icon-items a:hover svg {
              fill: #e9500e;
              transition: 0.3s ease; }
            .popup .popup__wrapper .popup__content .social-sing-wrapp .icon-wrapper .icon-items svg {
              fill: #222222;
              transition: 0.3s ease; }
            .popup .popup__wrapper .popup__content .social-sing-wrapp .icon-wrapper .icon-items .facebook {
              width: 10px;
              height: 20px; }
            .popup .popup__wrapper .popup__content .social-sing-wrapp .icon-wrapper .icon-items .vk {
              width: 23px;
              height: 13px; }
      .popup .popup__wrapper .popup__content .sign-up-wrapper .sign-up-btn {
        font-family: "Gordita-Medium", sans-serif;
        border: 1px solid #222222;
        padding: 12px 0;
        width: 100%;
        background-color: transparent;
        border-radius: 2px; }

main section button {
  font-family: "Gordita-Medium", sans-serif;
  background-color: #fff;
  border: 1px solid #222222;
  border-radius: 2px;
  padding: 9px 31px;
  transition: 0.3s ease; }
  main section button:hover {
    border: 1px solid #e9500e;
    color: #e9500e;
    transition: 0.3s ease; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.head_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 21px 0 1px;
  max-height: 141px; }

.burg-wrap {
  display: none; }

.search-header-line {
  position: absolute;
  width: 100%;
  z-index: 2;
  max-height: 48px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }
  .search-header-line.active {
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 1; }
  .search-header-line .search-wrapper {
    position: relative; }
    .search-header-line .search-wrapper svg {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      fill: none;
      stroke: #222222;
      width: 24px;
      height: 24px;
      cursor: pointer; }
      .search-header-line .search-wrapper svg:hover {
        stroke: #e9500e; }
      .search-header-line .search-wrapper svg.close {
        right: 15px; }
      .search-header-line .search-wrapper svg.search {
        left: 1.4%; }
    .search-header-line .search-wrapper .search-line {
      width: 100%;
      border: none;
      background-color: #FAFAFA;
      padding: 14px 48px;
      box-sizing: border-box; }
      .search-header-line .search-wrapper .search-line:focus svg {
        stroke: #e9500e; }

.basket-preview-container {
  position: absolute;
  right: -1px;
  top: 42px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  padding: 24px 24px;
  width: 362px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease; }
  .basket-preview-container.active {
    opacity: 1;
    visibility: visible; }
  .basket-preview-container .goods-wrapper .goods-item .goods-items {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    padding: 0 0 18px;
    margin: 0 0 16px;
    cursor: pointer; }
    .basket-preview-container .goods-wrapper .goods-item .goods-items:hover .goods-desc .titel {
      color: #e9500e;
      transition: 0.3s ease; }
    .basket-preview-container .goods-wrapper .goods-item .goods-items .img-wrapper {
      height: 90px;
      width: 60px;
      padding: 5px 0 0; }
    .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc {
      padding-left: 8px;
      width: 100%;
      position: relative; }
      .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc svg {
        position: absolute;
        top: 2px;
        right: -5px;
        fill: none;
        stroke: #222222;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: 0.3s ease; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc svg:hover {
          stroke: #e9500e;
          transition: 0.3s ease; }
      .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .titel {
        color: #666;
        line-height: 20px;
        font-size: 12px;
        padding-bottom: 3px;
        transition: 0.3s ease; }
      .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .details {
        display: flex;
        justify-content: space-between;
        line-height: 20px; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .details div {
          line-height: 20px;
          font-size: 12px; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .details span {
          line-height: 20px;
          font-size: 12px; }
      .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .price-per {
        display: flex;
        justify-content: space-between;
        line-height: 20px; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .price-per .quatity {
          font-size: 12px; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .price-per .price-wrapper span {
          line-height: 20px;
          font-size: 12px; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .price-per .price-wrapper .b-price {
          font-family: "Gordita-Medium", sans-serif; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .price-per .price-wrapper .b-price_new {
          font-family: "Gordita-Medium", sans-serif;
          padding-right: 10px;
          color: #E90000; }
        .basket-preview-container .goods-wrapper .goods-item .goods-items .goods-desc .price-per .price-wrapper .b-price_old {
          color: #666;
          text-decoration: line-through; }
  .basket-preview-container .goods-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 16px; }
    .basket-preview-container .goods-cost span {
      font-family: "Gordita-Medium", sans-serif; }
  .basket-preview-container .btn-basket-pay {
    width: 100%;
    background-color: #cf470c;
    font-family: "Gordita-Medium", sans-serif;
    color: #fff;
    padding: 10px 0;
    border-radius: 2px; }
    .basket-preview-container .btn-basket-pay:hover {
      background-color: #e9500e; }

.menu_mobile {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: 0.3s ease;
  display: none; }
  .menu_mobile.active {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 10;
    transition: 0.3s ease;
    overflow-y: scroll;
    overflow-x: hidden; }
  .menu_mobile .mobile-header-container {
    position: relative;
    padding: 14px 0; }
    .menu_mobile .mobile-header-container .logo-wrapper {
      margin: 0 auto;
      max-width: 80px;
      max-height: 27px; }
      .menu_mobile .mobile-header-container .logo-wrapper svg.logo {
        width: 80px;
        height: 27px;
        fill: #222222; }
    .menu_mobile .mobile-header-container > svg.close {
      position: absolute;
      top: 50%;
      right: 0;
      margin-right: 16px;
      transform: translate(0, -50%);
      stroke: #222222;
      width: 24px;
      height: 24px;
      fill: none;
      cursor: pointer; }
      .menu_mobile .mobile-header-container > svg.close:hover {
        stroke: #e9500e;
        fill: #e9500e;
        transition: 0.3s ease; }
  .menu_mobile .search-wrapper {
    position: relative; }
    .menu_mobile .search-wrapper .form:focus-within .search,
    .menu_mobile .search-wrapper .form .enter.search {
      transform: translate(-560%, -50%);
      transition: 0.6s ease; }
    .menu_mobile .search-wrapper .form .search {
      position: absolute;
      top: 50%;
      right: 53%;
      transform: translate(0, -50%);
      stroke: #222222;
      width: 24px;
      height: 24px;
      fill: none;
      transition: 0.6s ease; }
    .menu_mobile .search-wrapper .form .search-line {
      border: none;
      padding: 15px 17px;
      background-color: #FAFAFA;
      width: 100%;
      text-align: center; }
      .menu_mobile .search-wrapper .form .search-line:focus, .menu_mobile .search-wrapper .form .search-line.enter {
        text-align: left;
        padding-left: 55px; }
  .menu_mobile .bord-mob-container {
    max-width: 600px;
    margin: 0 auto; }
  .menu_mobile .mobile-menu-wrapper .menu_item {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .menu_mobile .mobile-menu-wrapper .menu_item > .menu_items {
      padding: 10px 0; }
      .menu_mobile .mobile-menu-wrapper .menu_item > .menu_items > a {
        font-family: "Gordita-Bold", sans-serif;
        text-transform: uppercase;
        padding: 0 16px; }
    .menu_mobile .mobile-menu-wrapper .menu_item > :hover {
      border-bottom: 2px solid #222222; }
    .menu_mobile .mobile-menu-wrapper .menu_item .mob_sub_menu {
      display: none; }
    .menu_mobile .mobile-menu-wrapper .menu_item > .active {
      border-bottom: 2px solid #222222; }
      .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 22.5px;
        z-index: -1; }
        .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items {
          position: relative;
          padding: 10px 0;
          border-bottom: 1px solid #e8e8e8; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items:first-child {
            border-top: 1px solid #e8e8e8; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items > a {
            text-transform: uppercase;
            font-family: "Gordita-Medium", sans-serif;
            padding: 0 16px; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.accent > a {
            color: #e9500e; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items svg {
            position: absolute;
            top: 16px;
            right: 0;
            margin-right: 16px;
            stroke: #222222;
            width: 16px;
            height: 16px;
            fill: none;
            transition: 0.3s ease; }
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items svg:hover {
              stroke: #e9500e;
              fill: #e9500e;
              transition: 0.3s ease; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items .mob_sub_sub_menu {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: 0.3s ease; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active svg {
            transform: rotate(90deg);
            transition: 0.3s ease; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu {
            padding: 16px 16px 0;
            height: auto;
            overflow: visible;
            opacity: 1;
            transition: 0.3s ease; }
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .cat-wrapper .categ {
              padding-bottom: 10px; }
              .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .cat-wrapper .categ .titel {
                font-family: "Gordita-Medium", sans-serif;
                line-height: 40px; }
              .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .cat-wrapper .categ p a {
                font-family: "Gordita-Medium", sans-serif; }
              .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .cat-wrapper .categ a {
                line-height: 40px; }
                .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .cat-wrapper .categ a:hover {
                  color: #e9500e; }
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .promo-brand-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center; }
              .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .promo-brand-wrapper .brand-container {
                padding-bottom: 16px; }
                .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .promo-brand-wrapper .brand-container p {
                  text-align: center; }
                  .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .promo-brand-wrapper .brand-container p a {
                    font-family: "Gordita-Medium", sans-serif;
                    text-decoration: underline; }
                    .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .mob_sub_menu_items.active .mob_sub_sub_menu .promo-brand-wrapper .brand-container p a:hover {
                      color: #e9500e; }
        .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .personal-area {
          padding: 16px 0;
          margin: 0 16px 16px;
          border-bottom: 1px solid #e8e8e8; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .personal-area p {
            padding: 12px 0; }
        .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item {
          display: flex;
          min-width: 120px;
          padding-top: 7px;
          justify-content: center; }
          .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item .social-items {
            margin-right: 24px; }
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item .social-items:last-child a svg,
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item .social-items:first-child a svg {
              fill: #222222; }
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item .social-items a svg {
              width: 24px;
              height: 24px;
              fill: none;
              stroke: #222222;
              transition: 0.3s ease; }
              .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item .social-items a svg:hover {
                fill: #e9500e;
                stroke: #e9500e;
                transition: 0.3s ease; }
            .menu_mobile .mobile-menu-wrapper .menu_item > .active .mob_sub_menu .social-item .social-items:last-child {
              margin-right: 0; }

.menu_wrapp .nav_wrapper .menu {
  padding-bottom: 64px; }
  .menu_wrapp .nav_wrapper .menu .menu_item > .menu_items {
    display: inline-block;
    margin-right: 50px; }
    .menu_wrapp .nav_wrapper .menu .menu_item > .menu_items:last-child {
      margin-right: 0; }
    .menu_wrapp .nav_wrapper .menu .menu_item > .menu_items > a {
      color: #9d9d9d;
      font-family: "Gordita-Bold", sans-serif;
      text-transform: uppercase;
      padding-bottom: 7px;
      transition: color 0.3s ease; }
    .menu_wrapp .nav_wrapper .menu .menu_item > .menu_items.active > a {
      color: #222222;
      border-bottom: 2px solid #222222;
      transition: color 0.3s ease; }
    .menu_wrapp .nav_wrapper .menu .menu_item > .menu_items > a.in-hover {
      color: #e9500e;
      border-bottom: 2px solid #e9500e;
      transition: color 0.3s ease; }

.menu_items > .sub_menu {
  display: none; }

.menu_items.active > {
  padding-bottom: 21px; }
  .menu_items.active > .sub_menu {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: calc((100vw - 1320px) / 2);
    padding-right: calc((100vw - 1320px) / 2); }
    .menu_items.active > .sub_menu .sub_menu_items {
      display: inline-block;
      margin-right: 32px;
      border-bottom: 2px solid transparent;
      z-index: 6; }
      .menu_items.active > .sub_menu .sub_menu_items:last-child > {
        margin-right: 0; }
        .menu_items.active > .sub_menu .sub_menu_items:last-child > a {
          color: #cf470c; }
      .menu_items.active > .sub_menu .sub_menu_items > a {
        font-family: "Gordita-Medium", sans-serif;
        padding-bottom: 1px; }
      .menu_items.active > .sub_menu .sub_menu_items:hover, .menu_items.active > .sub_menu .sub_menu_items.active {
        position: static;
        border-bottom: 2px solid #222222; }
        .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu {
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          position: absolute;
          width: 100%;
          top: 45px;
          left: 0;
          right: 0;
          padding: 41px calc((100vw - 1320px) / 2) 73px;
          z-index: 5;
          border-bottom: 1px solid #e8e8e8; }
          .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .cat-wrapper {
            display: flex; }
            .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .cat-wrapper .categ {
              min-width: 196px;
              margin-right: 16px; }
              .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ .titel, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .cat-wrapper .categ .titel {
                font-family: "Gordita-Medium", sans-serif;
                padding-bottom: 5px; }
              .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ p a, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .cat-wrapper .categ p a {
                line-height: 33px;
                font-family: "Gordita-Medium", sans-serif; }
              .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ .categ_item .categ_items, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .cat-wrapper .categ .categ_item .categ_items {
                line-height: 33px; }
                .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .cat-wrapper .categ .categ_item .categ_items a:hover, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .cat-wrapper .categ .categ_item .categ_items a:hover {
                  color: #e9500e; }
          .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .promo-brand-wrapper {
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
            padding-top: 5px; }
            .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .img-wrapper, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .promo-brand-wrapper .brand-container .img-wrapper {
              margin: 0 8px;
              max-width: 230px;
              max-height: 255px; }
            .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .brand, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .promo-brand-wrapper .brand-container .brand {
              text-align: center;
              padding-top: 16px; }
              .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .brand a, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .promo-brand-wrapper .brand-container .brand a {
                font-size: 12px;
                line-height: 20px;
                text-decoration: underline;
                font-family: "Gordita-Medium", sans-serif; }
                .menu_items.active > .sub_menu .sub_menu_items:hover .sub_sub_menu .promo-brand-wrapper .brand-container .brand a:hover, .menu_items.active > .sub_menu .sub_menu_items.active .sub_sub_menu .promo-brand-wrapper .brand-container .brand a:hover {
                  color: #e9500e; }
      .menu_items.active > .sub_menu .sub_menu_items.in-hover {
        border-bottom: 2px solid #e9500e;
        color: #e9500e; }
      .menu_items.active > .sub_menu .sub_menu_items .sub_sub_menu {
        display: none; }

.log_wrapper .logo {
  max-width: 90px;
  max-height: 30px;
  margin-right: 50px; }
  .log_wrapper .logo svg {
    width: 90px;
    height: 30px;
    fill: #222222; }

.features_site_wrapper .features_site {
  position: relative; }
  .features_site_wrapper .features_site .features_items {
    display: inline-block;
    margin-right: 32px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease; }
    .features_site_wrapper .features_site .features_items:hover .basket-preview-container {
      opacity: 1;
      visibility: visible;
      transition: 0.3s ease; }
    .features_site_wrapper .features_site .features_items a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .features_site_wrapper .features_site .features_items:hover, .features_site_wrapper .features_site .features_items.active {
      border-bottom: 2px solid #222222;
      transition: 0.3s ease; }
    .features_site_wrapper .features_site .features_items.in-hover {
      border-bottom: 2px solid #e9500e; }
      .features_site_wrapper .features_site .features_items.in-hover a .icon svg {
        stroke: #e9500e; }
      .features_site_wrapper .features_site .features_items.in-hover a .icon_title {
        color: #e9500e; }
    .features_site_wrapper .features_site .features_items .icon {
      max-width: 24px;
      max-height: 24px;
      position: relative; }
      .features_site_wrapper .features_site .features_items .icon .icon_quantity {
        transform: scale(0);
        transition: 0.3s ease;
        position: absolute;
        color: #fff;
        font-size: 8px;
        top: -9px;
        right: -4px;
        z-index: 3;
        text-align: center; }
        .features_site_wrapper .features_site .features_items .icon .icon_quantity::after {
          content: '';
          position: absolute;
          background-color: #222222;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          top: 50%;
          left: 50%;
          z-index: -1;
          transform: translate(-50%, -50%); }
        .features_site_wrapper .features_site .features_items .icon .icon_quantity.active {
          transform: scale(1);
          transition: 0.3s ease; }
    .features_site_wrapper .features_site .features_items .icon svg {
      width: 24px;
      height: 24px;
      stroke: #222222;
      fill: none; }
    .features_site_wrapper .features_site .features_items .icon_title {
      font-size: 9px;
      line-height: 16px; }
    .features_site_wrapper .features_site .features_items:last-child {
      margin-right: 0; }

.banner {
  padding-bottom: 37px; }
  .banner .slider_container .slider-wrapp .slider_items {
    position: relative;
    z-index: 1; }
    .banner .slider_container .slider-wrapp .slider_items .desc_banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(52%, -53%);
      z-index: 2; }
      .banner .slider_container .slider-wrapp .slider_items .desc_banner .text_contetn p {
        color: #fff;
        line-height: 60px;
        margin-bottom: 16px;
        font-family: "Gordita-Bold", sans-serif; }
        @media (max-width: 767px) {
          .banner .slider_container .slider-wrapp .slider_items .desc_banner .text_contetn p {
            font-size: calc( 32px + 37.4 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          .banner .slider_container .slider-wrapp .slider_items .desc_banner .text_contetn p {
            font-size: calc(32px + 22 * (100vw / 1920)); } }
  .banner .slider_container .swiper-pagination.slider_pagination {
    position: unset;
    margin-top: 5px; }
    .banner .slider_container .swiper-pagination.slider_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #222222;
      border: 1px solid #bbb;
      margin: 0 6px; }
    .banner .slider_container .swiper-pagination.slider_pagination .swiper-pagination-bullet {
      background-color: unset;
      border: 1px solid #bbb; }

.promotion {
  padding-bottom: 32px; }
  .promotion .container .promo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .promotion .container .promo-wrapper .promo-items {
      position: relative; }
      .promotion .container .promo-wrapper .promo-items .promo-img {
        position: relative;
        max-width: 636px;
        max-height: 637px;
        background: rgba(0, 0, 0, 0.2); }
        .promotion .container .promo-wrapper .promo-items .promo-img img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: contain;
          z-index: -1; }
      .promotion .container .promo-wrapper .promo-items .promo-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .promotion .container .promo-wrapper .promo-items .promo-content h1 {
          text-transform: uppercase;
          color: #fff;
          font-size: 20px;
          line-height: 32px;
          max-width: 180px;
          padding-bottom: 22px; }
        .promotion .container .promo-wrapper .promo-items .promo-content a {
          text-decoration: underline;
          transition: 0.3s ease;
          font-size: 16px;
          line-height: 24px;
          color: #fff; }
          .promotion .container .promo-wrapper .promo-items .promo-content a:hover {
            color: #cf470c;
            transition: 0.3s ease; }

.prod-slider {
  padding-bottom: 39px; }
  .prod-slider.custom {
    padding-bottom: 58px; }
  .prod-slider.title {
    padding-bottom: 17px; }
  .prod-slider .container {
    position: relative; }
  .prod-slider .prod-slider-title {
    padding-bottom: 32px;
    text-align: center; }
    .prod-slider .prod-slider-title h2 {
      text-transform: uppercase; }
      .prod-slider .prod-slider-title h2:hover {
        color: #e9500e;
        cursor: pointer; }
  .prod-slider .button-container {
    text-align: center; }
  .prod-slider.title .prod-slider-container .button-next,
  .prod-slider.title .prod-slider-container .button-prev {
    cursor: pointer;
    top: 51%; }
  .prod-slider .prod-slider-container {
    position: unset;
    padding-bottom: 24px; }
    .prod-slider .prod-slider-container .button-next {
      max-width: 18px;
      max-height: 16px;
      top: 37%;
      right: -40px;
      transition: 0.3s ease; }
      .prod-slider .prod-slider-container .button-next::after {
        content: ''; }
      .prod-slider .prod-slider-container .button-next.swiper-button-disabled {
        transform: scale(0);
        transition: 1s ease; }
      .prod-slider .prod-slider-container .button-next svg {
        stroke: #222222;
        width: 18px;
        height: 16px; }
      .prod-slider .prod-slider-container .button-next:hover svg {
        stroke: #e9500e;
        transition: 0.3s ease; }
    .prod-slider .prod-slider-container .button-prev {
      max-width: 18px;
      max-height: 16px;
      top: 38%;
      transform: rotate(180deg);
      left: -37px;
      transition: 0.3s ease; }
      .prod-slider .prod-slider-container .button-prev::after {
        content: ''; }
      .prod-slider .prod-slider-container .button-prev.swiper-button-disabled {
        transform: scale(0);
        transition: 1s ease; }
      .prod-slider .prod-slider-container .button-prev svg {
        stroke: #222222;
        width: 18px;
        height: 16px; }
      .prod-slider .prod-slider-container .button-prev:hover svg {
        stroke: #e9500e;
        transition: 0.3s ease; }

.prod-card-container {
  max-width: 247px;
  cursor: pointer; }
  .prod-card-container .prod-banner-wrapper {
    position: relative;
    padding-bottom: 12px; }
    .prod-card-container .prod-banner-wrapper .img-wrapper {
      max-width: 247px;
      max-height: 370px; }
      .prod-card-container .prod-banner-wrapper .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: none; }
    .prod-card-container .prod-banner-wrapper .promo-wrapp {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 8px 10px 0 8px; }
      .prod-card-container .prod-banner-wrapper .promo-wrapp .best-saler {
        background-color: #fff;
        max-width: 38px;
        max-height: 20px;
        visibility: hidden;
        opacity: 0; }
        .prod-card-container .prod-banner-wrapper .promo-wrapp .best-saler span {
          text-transform: uppercase;
          font-family: "Gordita-Bold", sans-serif;
          font-size: 10px;
          line-height: 1.6;
          padding: 8px 8px; }
      .prod-card-container .prod-banner-wrapper .promo-wrapp .favorit svg {
        stroke: #222222;
        width: 21px;
        height: 20px;
        fill: none; }
        .prod-card-container .prod-banner-wrapper .promo-wrapp .favorit svg:hover {
          stroke: #e9500e;
          fill: #e9500e;
          transition: 0.3s ease; }
      .prod-card-container .prod-banner-wrapper .promo-wrapp .favorit.select svg {
        stroke: #e9500e;
        fill: #e9500e;
        transition: 0.3s ease; }
  .prod-card-container .price-wrap {
    padding-bottom: 2px; }
    .prod-card-container .price-wrap .price {
      font-family: "Gordita-Medium", sans-serif;
      font-size: 12px;
      line-height: 20px; }
    .prod-card-container .price-wrap .price_new {
      display: inline-block;
      font-family: "Gordita-Medium", sans-serif;
      font-size: 12px;
      padding-right: 14px;
      color: #E90000;
      line-height: 20px; }
    .prod-card-container .price-wrap .price_old {
      color: #666;
      font-size: 12px;
      text-decoration: line-through;
      line-height: 20px; }
  .prod-card-container.best-saler .promo-wrapp .best-saler {
    visibility: visible;
    opacity: 1; }
  .prod-card-container .discrption-goods p {
    overflow: hidden;
    color: #666; }
    .prod-card-container .discrption-goods p:hover {
      color: #e9500e; }

.promo-banner {
  padding-bottom: 32px; }
  .promo-banner.custom {
    padding-top: 9px; }
  .promo-banner .banner-wrapper {
    position: relative; }
    .promo-banner .banner-wrapper .img-wrapper {
      max-width: 1300px;
      max-height: 600px;
      position: relative; }
      .promo-banner .banner-wrapper .img-wrapper::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(12, 4, 0, 0.2); }
      .promo-banner .banner-wrapper .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative; }
    .promo-banner .banner-wrapper .content-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .promo-banner .banner-wrapper .content-wrapper h2 {
        font-family: "Philosopher-Regular", sans-serif;
        color: #fff;
        padding: 97px 0 51px;
        white-space: nowrap;
        text-transform: uppercase; }
        @media (max-width: 767px) {
          .promo-banner .banner-wrapper .content-wrapper h2 {
            font-size: calc( 40px + 68 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          .promo-banner .banner-wrapper .content-wrapper h2 {
            font-size: calc(40px + 40 * (100vw / 1920)); } }
        @media (max-width: 767px) {
          .promo-banner .banner-wrapper .content-wrapper h2 {
            line-height: calc( 45px + 76.5 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          .promo-banner .banner-wrapper .content-wrapper h2 {
            line-height: calc(45px + 45 * (100vw / 1920)); } }
      .promo-banner .banner-wrapper .content-wrapper a {
        text-decoration: underline;
        transition: 0.3s ease;
        font-size: 16px;
        line-height: 24px;
        color: #fff; }
        .promo-banner .banner-wrapper .content-wrapper a:hover {
          text-decoration: none;
          color: #cf470c;
          transition: 0.3s ease; }

.reason-buy {
  padding-bottom: 49px; }
  .reason-buy .reason-buy-container {
    border-top: 1px solid #EAEAEA; }
    .reason-buy .reason-buy-container .reason-buy-title {
      text-align: center;
      padding: 40px 0 32px;
      text-transform: uppercase; }
    .reason-buy .reason-buy-container .reason-buy-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1245px;
      margin: auto; }
      .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper {
        text-align: center;
        height: 56px; }
        .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper .free_shipping {
          width: 79px;
          height: 56px;
          fill: #222222; }
        .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper .high_quality {
          width: 46px;
          height: 46px;
          fill: none;
          stroke: #222222; }
        .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper ._day {
          width: 53px;
          height: 56px;
          fill: #222222; }
        .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .img-wrapper .return {
          width: 42px;
          height: 56px;
          fill: #222222; }
      .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content {
        padding-top: 15px; }
        .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content p {
          text-align: center; }
          .reason-buy .reason-buy-container .reason-buy-wrapper .reason-buy-items .content p.small_text {
            font-size: 10px; }

.seo-text {
  padding-bottom: 76px; }
  .seo-text .seo-text-wrapper {
    padding-top: 40px;
    border-top: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .seo-text .seo-text-wrapper .seo-text-items {
      max-width: 575px; }
      .seo-text .seo-text-wrapper .seo-text-items .title {
        padding-bottom: 24px; }

footer {
  background-color: #FAFAFA;
  padding-top: 32px; }
  footer .footer-mobile-content {
    display: none; }

.sec-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px; }
  .sec-top .logo-wrapper {
    width: 200px;
    height: 67px;
    margin-top: 24px; }
    .sec-top .logo-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .sec-top .footer-content {
    display: flex;
    padding-right: 19px; }
    .sec-top .footer-content .titel-list {
      padding-bottom: 4px; }
      .sec-top .footer-content .titel-list p {
        font-family: "Gordita-Medium", sans-serif; }
    .sec-top .footer-content .list-item {
      min-width: 200px; }
      .sec-top .footer-content .list-item .list-items {
        padding: 4px 0; }
        .sec-top .footer-content .list-item .list-items a {
          transition: 0.3s ease; }
        .sec-top .footer-content .list-item .list-items.open-time {
          display: none; }
        .sec-top .footer-content .list-item .list-items a:hover {
          color: #e9500e;
          transition: 0.3s ease; }
    .sec-top .footer-content .list-wrapper {
      padding-right: 38px; }
    .sec-top .footer-content .social-wrapper {
      padding-right: 38px; }
      .sec-top .footer-content .social-wrapper .social-item {
        display: flex;
        min-width: 200px;
        padding-top: 9px; }
        .sec-top .footer-content .social-wrapper .social-item .social-items {
          margin-right: 10px; }
          .sec-top .footer-content .social-wrapper .social-item .social-items:last-child a svg,
          .sec-top .footer-content .social-wrapper .social-item .social-items:first-child a svg {
            fill: #222222; }
          .sec-top .footer-content .social-wrapper .social-item .social-items a svg {
            width: 24px;
            height: 24px;
            stroke: #222222;
            transition: 0.3s ease; }
            .sec-top .footer-content .social-wrapper .social-item .social-items a svg:hover {
              fill: #e9500e;
              stroke: #e9500e;
              transition: 0.3s ease; }
          .sec-top .footer-content .social-wrapper .social-item .social-items:last-child {
            margin-right: 0; }
    .sec-top .footer-content .call-us-wrapper .list-items {
      position: relative;
      padding-left: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer; }
    .sec-top .footer-content .call-us-wrapper li.mail {
      position: relative; }
      .sec-top .footer-content .call-us-wrapper li.mail svg {
        position: absolute;
        left: 0;
        fill: none;
        stroke: #222222;
        width: 16px;
        height: 12px;
        margin-right: 9px;
        transition: 0.3s ease; }
      .sec-top .footer-content .call-us-wrapper li.mail:hover svg {
        stroke: #e9500e;
        transition: 0.3s ease; }
      .sec-top .footer-content .call-us-wrapper li.mail:hover a {
        color: #e9500e;
        transition: 0.3s ease; }
    .sec-top .footer-content .call-us-wrapper li.phone {
      position: relative; }
      .sec-top .footer-content .call-us-wrapper li.phone svg {
        position: absolute;
        left: 0;
        fill: #222222;
        stroke: none;
        width: 16px;
        height: 16px;
        margin-right: 9px; }
      .sec-top .footer-content .call-us-wrapper li.phone:hover svg {
        fill: #e9500e;
        transition: 0.3s ease; }
      .sec-top .footer-content .call-us-wrapper li.phone:hover a {
        color: #e9500e;
        transition: 0.3s ease; }

.mob_block {
  display: none; }

.pay-var {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 194px; }
  .pay-var .wrapp-mc {
    margin-right: 21px; }

.sec-buttom {
  border-top: 1px solid #e8e8e8; }
  .sec-buttom .wrapper-bottom {
    padding: 30px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .sec-buttom .wrapper-bottom .copy-block p {
      color: #666; }
  .sec-buttom .develop-wrapper {
    display: flex;
    align-items: flex-start; }
    .sec-buttom .develop-wrapper .develop {
      margin-right: 48px; }
      .sec-buttom .develop-wrapper .develop a {
        text-decoration: underline;
        transition: .3s ease; }
        .sec-buttom .develop-wrapper .develop a:hover {
          color: #e9500e;
          transition: .3s ease; }
  .sec-buttom .lang-wrapper {
    display: flex;
    align-items: flex-start; }
    .sec-buttom .lang-wrapper .lang {
      padding-right: 25px; }
  .sec-buttom .select-lang {
    position: relative;
    padding-right: 24px;
    padding-bottom: 11px;
    border-bottom: 1px solid #666;
    margin-top: -6px;
    cursor: pointer; }
    .sec-buttom .select-lang::after {
      content: '';
      position: absolute;
      background-image: url(../img/arrow-lang.png);
      background-repeat: no-repeat;
      width: 16px;
      height: 8px;
      right: 0;
      top: 25%;
      transition: 0.3s ease; }
    .sec-buttom .select-lang.active::after {
      transform: rotate(180deg);
      transition: 0.3s ease; }
    .sec-buttom .select-lang .lang-item .lang-items {
      position: relative;
      padding: 0 8px 0 24px;
      font-family: "Gordita-Medium", sans-serif; }
      .sec-buttom .select-lang .lang-item .lang-items::before {
        content: '';
        position: absolute;
        background-image: url(../img/ru-lang.png);
        background-repeat: no-repeat;
        width: 16px;
        height: 17px;
        left: 0;
        top: 50%;
        transform: translate(0, -50%); }
    .sec-buttom .select-lang .all-lang-item {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;
      bottom: 35px;
      right: 0;
      max-height: 300px;
      width: 100%;
      min-width: 60px;
      overflow-y: scroll;
      background-color: #fff;
      z-index: 999; }
      .sec-buttom .select-lang .all-lang-item.active {
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease; }
      .sec-buttom .select-lang .all-lang-item .all-lang-items a {
        display: block;
        padding: 10px 0px 10px 10px;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box; }
        .sec-buttom .select-lang .all-lang-item .all-lang-items a:hover {
          background-color: #f2f2f2; }

.banner.hist {
  padding-bottom: 23px; }
  .banner.hist .container {
    position: relative; }
    .banner.hist .container .desc_banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center; }
      .banner.hist .container .desc_banner .logo-wrapper {
        padding: 5px 24px 5px 0;
        border-right: 3px solid #fff; }
        .banner.hist .container .desc_banner .logo-wrapper svg {
          width: 200px;
          height: 66px;
          fill: #fff; }
      .banner.hist .container .desc_banner .text_content {
        padding: 0 0 0 25px; }
        .banner.hist .container .desc_banner .text_content p {
          font-family: "Gordita-Medium", sans-serif;
          font-size: 50px;
          line-height: 40px;
          color: #fff;
          padding-bottom: 10px;
          white-space: nowrap; }
    .banner.hist .container .img-wrapper {
      max-height: 600px;
      position: relative; }
      .banner.hist .container .img-wrapper img {
        width: 100%; }
      .banner.hist .container .img-wrapper::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.13);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }

.promotion.hist {
  padding-bottom: 40px; }
  .promotion.hist.right .container .promo-wrapper {
    flex-direction: row-reverse; }
  .promotion.hist .container .promo-items .promo-img {
    max-width: 642px;
    max-height: 700px;
    background: none; }
  .promotion.hist .container .promo-text {
    max-width: 556px;
    margin: 0 58px; }
    .promotion.hist .container .promo-text .promo-text-header .det-page {
      padding: 27px 0 24px;
      text-align: center; }
    .promotion.hist .container .promo-text .promo-text-content {
      padding: 0 0 24px; }
      .promotion.hist .container .promo-text .promo-text-content p {
        text-align: center;
        max-width: 475px;
        margin: 0 auto; }
    .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 24px; }
      .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container {
        max-width: 200px;
        margin: 0 10px; }
        .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper {
          padding-bottom: 8px; }
          .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper .img-wrapper {
            max-width: 200px;
            max-height: 300px; }
          .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .prod-banner-wrapper .promo-wrapp {
            padding: 15px 25px 0; }
        .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .price-wrap span {
          font-size: 13px;
          line-height: 21px; }
        .promotion.hist .container .promo-text .promo-text-goods .goods-wrapper .prod-card-container .discrption-goods p {
          font-size: 12px;
          line-height: 20px; }
    .promotion.hist .container .promo-text .promo-text-goods .btn-promo-goods {
      display: block;
      margin: 0 auto;
      padding: 12px 32px;
      width: 328px; }

.prod-slider.hist.title {
  padding: 20px 0 24px; }

section.info .container .breadcrumb-wrapper {
  padding: 8px 0 16px; }
  section.info .container .breadcrumb-wrapper .breadcrumb li {
    display: inline-block; }
    section.info .container .breadcrumb-wrapper .breadcrumb li::after {
      content: '›';
      font-size: 12px;
      line-height: 22px;
      padding: 0 5px 0 10px;
      font-family: "Gordita-Medium", sans-serif; }
    section.info .container .breadcrumb-wrapper .breadcrumb li:last-child::after {
      content: '';
      display: none; }
    section.info .container .breadcrumb-wrapper .breadcrumb li a {
      font-size: 12px;
      line-height: 22px;
      font-family: "Gordita-Medium", sans-serif; }
      section.info .container .breadcrumb-wrapper .breadcrumb li a:hover {
        color: #e9500e; }

section.info .container .info-frame {
  display: flex;
  justify-content: space-between; }
  section.info .container .info-frame .info-menu-wrapper {
    min-width: 203px;
    margin-right: 20px;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out; }
    section.info .container .info-frame .info-menu-wrapper.accordion {
      margin-right: 0px;
      max-height: 0;
      transition: max-height 0.8s ease-in-out, visibility 1s ease-in-out; }
    section.info .container .info-frame .info-menu-wrapper .info-menu-item {
      padding-bottom: 24px; }
      section.info .container .info-frame .info-menu-wrapper .info-menu-item .title {
        text-transform: uppercase;
        font-family: "Gordita-Medium", sans-serif;
        padding-bottom: 8px; }
      section.info .container .info-frame .info-menu-wrapper .info-menu-item .info-menu-company .menu-items {
        line-height: 33px; }
        section.info .container .info-frame .info-menu-wrapper .info-menu-item .info-menu-company .menu-items.active,
        section.info .container .info-frame .info-menu-wrapper .info-menu-item .info-menu-company .menu-items a:hover {
          color: #cf470c; }
  section.info .container .info-frame .info-content-wrapper {
    max-width: 975px;
    padding-bottom: 24px; }
    section.info .container .info-frame .info-content-wrapper > .title {
      margin-bottom: 32px;
      text-transform: uppercase; }
      section.info .container .info-frame .info-content-wrapper > .title.accordion-btn {
        cursor: pointer;
        position: relative; }
        section.info .container .info-frame .info-content-wrapper > .title.accordion-btn::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%) rotate(0deg);
          background-image: url(../img/arrow-lang.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 14px;
          height: 7px;
          transition: transform 0.3s ease; }
        section.info .container .info-frame .info-content-wrapper > .title.accordion-btn.active::after {
          transform: rotate(180deg);
          transition: transform 0.3s ease; }
    section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 60px; }
      section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper .delivery-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper .delivery-items .content p {
          text-align: center; }
          section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper .delivery-items .content p.small_text {
            font-size: 10px; }
        section.info .container .info-frame .info-content-wrapper .info-text.delivery .delivery-wrapper .delivery-items .img-wrapper {
          max-width: 79px;
          max-height: 56px;
          margin-bottom: 15px; }
    section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items {
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      padding: 16px 0; }
      section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title {
        position: relative; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title::after, section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title::before {
          content: "";
          background-color: #222222;
          position: absolute;
          width: 12px;
          height: 1px;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease-in-out; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title::before {
          transform: rotate(0deg);
          transition: all 0.5s ease-in-out; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title::after {
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title.active::before {
          transform: rotate(-180deg);
          transition: all 0.5s ease-in-out; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .title.active::after {
          transform: rotate(0deg);
          transition: all 0.3s ease-in-out; }
      section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .paymeny-desc {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .paymeny-desc p {
          padding: 16px 0; }
        section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .paymeny-desc .pay-var {
          padding: 0 0 8px 0;
          justify-content: flex-start; }
          section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .paymeny-desc .pay-var .wrapp-mc {
            margin: 0; }
          section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .paymeny-desc .pay-var > div {
            border: 1px solid #e8e8e8;
            position: relative;
            width: 80px;
            height: 60px; }
            section.info .container .info-frame .info-content-wrapper .info-text.payment .payment-wrapper .payment-items .paymeny-desc .pay-var > div img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
    section.info .container .info-frame .info-content-wrapper .info-text .text-items {
      padding-bottom: 24px; }
      section.info .container .info-frame .info-content-wrapper .info-text .text-items .text-content {
        line-height: 25px; }
