/** Gordita **/
@font-face {
    font-family: 'Gordita-Regular';
    src: local('Gordita  Regular'), local('Gordita--Regular'),
        url('../fonts/Gordita/Gordita-Regular.woff2') format('woff2'),
        url('../fonts/Gordita/Gordita-Regular.woff') format('woff'),
        url('../fonts/Gordita/Gordita-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Gordita-Medium';
    src: local('Gordita  Medium'), local('Gordita--Medium'),
        url('../fonts/Gordita/Gordita-Medium.woff2') format('woff2'),
        url('../fonts/Gordita/Gordita-Medium.woff') format('woff'),
        url('../fonts/Gordita/Gordita-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gordita-Bold';
    src: local('Gordita  Bold'), local('Gordita--Bold'),
        url('../fonts/Gordita/Gordita-Bold.woff2') format('woff2'),
        url('../fonts/Gordita/Gordita-Bold.woff') format('woff'),
        url('../fonts/Gordita/Gordita-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/** Gordita **/
/** Philosopher-Regular **/
@font-face {
	font-family: 'Philosopher-Regular';
	src: url('../fonts/Philosopher/Philosopher-Regular.eot');
	src: local('☺'), url('../fonts/Philosopher/Philosopher-Regular.woff') format('woff'), 
         url('../fonts/Philosopher/Philosopher-Regular.ttf') format('truetype'), 
         url('../fonts/Philosopher/Philosopher-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Philosopher-Regular **/

